$block: '.pf4';

#{$block}-l-footer {
  background-color: #1a1a1a !important;
  &-column {
    background-color: #333;
    a {
      color: #fff !important;
      margin-right: 32px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .pf-c-nav__list a.pf-c-nav__link {
    padding-left: 0;
    color: var(--pf-global--Color--light-100);
  }
}
#{$block}-l-footer-dark {
  background: #151515 !important;
  & > * {
    color: #d2d2d2;
  }
  a {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #d2d2d2;
    color: #d2d2d2;
    text-decoration: underline;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      border: none;
    }
  }
}
