.ws-get-in-touch {
  height: calc(100vh - 70px);
}

@media (max-width: 991px) {
  .ws-get-in-touch {
    height: calc(100vh - 94px);
  }
}

.ws-get-in-touch h1.ws-title {
  font-size: 36px;
  font-family: RedHatDisplay;
}

.ws-get-in-touch h3.ws-title {
  font-size: 18px;
  font-family: RedHatDisplay;
}
