@import '../../../../node_modules/@patternfly/patternfly/sass-utilities/all.scss';

@import '../workspace.scss';

$block: '.pf4';

.pf-m-white,
.pf-m-white > * {
  color: var(--pf-global--Color--light-100) !important; /* stylelint-disable-line */
}

#{$block}-c-button__cta-primary {
  @extend %btn-call-to-action;
  @extend %call-to-action-text;
  background-color: var(--pf-global--Color--light-100);
  color: #06c;
  border-color: var(--pf-global--Color--light-100);
  transition: var(--pf-global--Transition);
  &:hover {
    background-color: transparent;
    color: var(--pf-global--Color--light-100);
    text-decoration: none;
  }
}
#{$block}-c-button__cta-outline {
  @extend %btn-call-to-action;
  @extend %call-to-action-text;
  background-color: transparent;
  color: var(--pf-global--Color--light-100) !important;
  border-color: var(--pf-global--Color--light-100);
  transition: var(--pf-global--Transition);
  &:hover {
    background-color: var(--pf-global--Color--light-100);
    color: #06c !important;
    text-decoration: none;
  }
}

#{$block}-c-link__text {
  @extend %cross-link-text;
}

#{$block}-c-background-image {
  --pf4-c-image--Background: url("../images/homeHeroLines.svg");

  width: 100%;
  max-width: 100%;
  height: 100%;
  background-image: none, linear-gradient(to bottom, #065e8e 0%, #0469a8 25%, #048bc1 75%, #03b9e4 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: top, right;

  /* stylelint-disable */
  @media (max-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
    background-image: none, linear-gradient(to bottom, #065e8e 0%, #0469a8 25%, #048bc1 75%, #03b9e4 100%);
  }

  @media (min-width: $pf-global--breakpoint--sm) {
    background-size: contain;
    background-image: url("../images/aboutPF4Lines.svg"), linear-gradient(to bottom, #065e8e 0%, #0469a8 25%, #048bc1 75%, #03b9e4 100%);
    background-position: top right, right;
  }

  @media (min-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
    background-image: url("../images/aboutPF4Lines.svg"), linear-gradient(to bottom, #065e8e 0%, #0469a8 25%, #048bc1 75%, #03b9e4 100%);
    background-size: cover;
    background-position: top right, right;
  }

  @media (min-width: $pf-global--breakpoint--lg) {
    background-image: var(--pf4-c-image--Background), linear-gradient(to bottom, #065e8e 0%, #0469a8 25%, #048bc1 75%, #03b9e4 100%);
    background-size: cover;
    background-position: top, right;
  }
  /* stylelint-enable */
}

#{$block}-c-background-image-principles {
  width: 100%;
  max-width: 100%;
  background-image: url("../images/PF4PrinciplesLines.svg"), linear-gradient(to bottom, #03b9e4, #2767b2);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, right;

  @media (max-width: $pf-global--breakpoint--sm) {
    background-image: none, linear-gradient(to bottom, #03b9e4, #2767b2);
  }
}

#{$block}-c-background-lines {
  width: 100%;
  max-width: 100%;
  background-image: url("../images/aboutPF4Lines.svg"), linear-gradient(to bottom, #fff, #fff);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, right;

  @media (max-width: $pf-global--breakpoint--sm) {
    background-image: none, linear-gradient(to bottom, #fff, #fff);
  }
}

@media (max-width: $pf-global--breakpoint--sm) {
  .pf-c-image {
    width: 50%;
    text-align: center;
  }
}

/* positioning of images based on a 1440px width */
#{$block}-c-image__laptop {
  height: 40%;
  width: 100%;
  background-image: url("../images/laptop.svg");
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: $pf-global--breakpoint--sm) {
    position: absolute;
    height: 25%;
    background-position: 70%;
  }
  @media (min-width: $pf-global--breakpoint--sm) and (max-width: $pf-global--breakpoint--md) {
    position: absolute;
    height: 18%;
    background-position: 65%;
  }
}
#{$block}-c-image__phone {
  position: relative;
  top: -120px;
  height: 25%;
  width: 100%;
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
  background-position: 32%;
  @media (max-width: $pf-global--breakpoint--sm) {
    top: 50px;
    height: 140px;
    background-position: 40%;
  }
  @media (min-width: $pf-global--breakpoint--sm) and (max-width: $pf-global--breakpoint--md) {
    position: relative;
    top: 50px;
    height: 155px;
    background-position: 30%
  }
}
#{$block}-c-image__screen {
  position: relative;
  top: -225px;
  height: 25%;
  width: 100%;
  background-image: url("../images/screen.svg");
  background-repeat: no-repeat;
  background-position: 60%;
  z-index: 2;
  @media (max-width: $pf-global--breakpoint--sm) {
    top: 30px;
    height: 145px;
    background-position: 53%;
  }
  @media (min-width: $pf-global--breakpoint--sm) and (max-width: $pf-global--breakpoint--md) {
    top: 15px;
    height: 170px;
    background-position: 50%;
  }
}
#{$block}-c-image__desktop {
  position: relative;
  top: -300px;
  height: 42%;
  width: 100%;
  background-image: url("../images/desktop.svg");
  background-repeat: no-repeat;
  background-position: 42%;
  @media (max-width: $pf-global--breakpoint--sm) {
    top: -115px;
    height: 230px;
  }
  @media (min-width: $pf-global--breakpoint--sm) and (max-width: $pf-global--breakpoint--md) {
    top: -145px;
    height: 220px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInOne {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}

.fadeInTwo {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}

.fadeInThree {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeInFour {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
