.ws-color-box {
  display: inline-block;
  height: 18px;
  width: 18px;
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--200);
  border-radius: var(--pf-global--BorderRadius--lg);
}

.ws-td-text {
  font-size: var(--pf-global--FontSize--sm) !important;
}

.ws-css-property {
  padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--md);
}
