#typography {
  margin-bottom: 32px;
}

#usage-guidelines {
  margin-top: 40px;
}

.ws-title-level-heading {
  margin-top: var(--pf-v5-global--spacer--lg);
}

.ws-typography-code-font + div {
  font-family: var(--pf-v5-global--FontFamily--monospace) !important;
}

.ws-typography-textColor {
  color: var(--pf-v5-global--info-color--100);
  max-width: 350px;
  font-size: 14px;
}

.ws-typography-tableTypography {
  --pf-v5-c-table--BackgroundColor: transparent;
}

.ws-typography-tableTypography tr > td:first-child {
  padding-left: 0 !important;
}

.ws-typography-gridTitleSymbol {
  font-size: 10px;
  vertical-align: text-bottom;
}

.ws-typography-spacerBox-size-8 {
  align-self: center;
  width: 8px;
  height: 8px;
}

.ws-typography-spacerBox-background-8 {
  background-color: #9bd917;
}

.ws-typography-spacerBox-size-16 {
  align-self: center;
  width: 16px;
  height: 16px;
}

.ws-typography-spacerBox-background-16 {
  background-color: #51a549;
}

.ws-typography-spacerBox-size-24 {
  align-self: center;
  width: 24px;
  height: 24px;
}

.ws-typography-spacerBox-background-24 {
  background-color: #1b8793;
}

.ws-typography-spacerBox-showBorder {
  border: 1px solid #3e9dd0;
}

.spacingItemStyle {
  border-color: #3E9DD0;
  border-width: 1px;
  border-style: solid;
}

.spacingTitleStyle {
  color: #004368;
  font-size: 14px;
}

.ws-title-level {
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  background: var(--pf-v5-global--BackgroundColor--100);
  padding: var(--pf-v5-global--spacer--sm);
  margin: var(--pf-v5-global--spacer--md) 0;
  display: inline-block;
}

#customizing-heading-levels {
  margin-top: var(--pf-v5-global--spacer--lg);
}

#line-height-and-spacing {
  margin-top: var(--pf-v5-global--spacer--md);
}

@media screen and (min-width: 768px) {
  #our-font-family ~ .pf-v5-l-grid.pf-m-gutter,
  #our-font-family ~ #line-height + div,
  #our-font-family ~ #line-height + div + .pf-v5-l-grid,
  #our-font-family ~ #spacing ~ div {
      max-width: 680px;
  }
}
