.ws-org-pfsite-l-footer,
.ws-org-pfsite-l-footer-dark {
  color: var(--pf-t--global--text--color--regular);
  background-color: var(--pf-t--global--background--color--secondary--default);
  /* Hide long overflowing tocs */
  z-index: 1;
}
.ws-org-pfsite-l-footer-column {
  background-color: var(--pf-t--global--background--color--primary--default);
  height: 100%;
  padding-inline: var(--pf-t--global--spacer--xl);
}
@media screen and (max-width: 768px) {
  .ws-org-pfsite-l-footer-column {
    padding-inline: var(--pf-t--global--spacer--md);
  }
}
.ws-org-pfsite-footer-menu-social-links a {
  margin-inline-end: var(--pf-t--global--spacer--md);
  /* color: var(--pf-t--color--blue--20); */
}
.ws-org-pfsite-footer-menu-social-links
  a:last-of-type {
  margin-inline-end: 0;
}
.ws-org-pfsite-footer-menu-social-links {
  margin-block-start: var(--pf-t--global--spacer--md);
  color: var(--pf-t--global--icon--color--brand--default);
}
.ws-org-pfsite-footer-menu-list-title {
  margin-block-end: var(--pf-t--global--spacer--md);
  color: var(--pf-t--global--text--color--subtle);
}
.ws-org-pfsite-footer-menu-list-item {
  padding-right: var(--pf-t--global--spacer--sm);
}
.ws-org-pfsite-footer-menu-link {
  color: var(--pf-t--global--text--color--link--default);
}

/* Red Hat footer */
/* .ws-org-pfsite-l-footer-dark {
  background-color: var(--pf-t--color--gray--95);
  z-index: 1;
} */
.ws-org-pfsite-l-footer-dark > * {
  font-size: var(--pf-t--global--font--size--100);
}
.ws-org-pfsite-l-footer-dark a {
  padding-inline: var(--pf-t--global--spacer--sm);
}
.ws-org-pfsite-l-footer-dark a:first-of-type {
  padding-inline-start: 0;
}
.ws-org-pfsite-l-footer-dark a:last-of-type {
  padding-inline-end: 0;
  border: none;
}
