
/* Container needed to position the overlay. Adjust the width as needed */
.preview-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  // border-left: 1px solid #bbb;
  // border-right: 1px solid #bbb;
  // border-top: 1px solid #bbb;
  min-height: 80px;
}

/* Make the image to responsive */
.preview-image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

/* When you mouse over the container, fade in the overlay icon*/
.preview-container:hover .preview-overlay {
  opacity: 0.5;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.preview-icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-external-link-alt:hover {
  color: #eee;
}