#ws-404-search-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.ws-404-card-header {
  padding: var(--pf-global--spacer--lg);
}

div.ws-404-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--pf-global--spacer--xl);
}
