#icons {
  font-size: 36px;
}
  
.search-icons {
  input {
    padding-left: 44px;
    background-color: #fff;
    background-image: url(search-icon.png);
    background-position: 14px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-top: 16px;
    margin-bottom: 64px;

    &::placeholder {
      color: #151515;
    }

    border: 1px solid #ededed;
  }
  .pf-c-form__label {
    --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
  }
}
