.ws-preview > * .area-chart-overflow svg {
  overflow: visible; }

.ws-preview > * .bar-chart-container {
  width: 450px; }

.ws-preview > * .donut-chart-container {
  height: 230px;
  width: 230px; }

.ws-preview > * .donut-chart-inline {
  display: inline-flex; }

.ws-preview > * .donut-threshold-chart-horz {
  height: 230px;
  width: 492px; }

.ws-preview > * .donut-threshold-chart-horz-sm {
  height: 230px;
  width: 475px; }

.ws-preview > * .donut-threshold-chart-vert {
  height: 325px;
  width: 275px; }

.ws-preview > * .donut-utilization-chart {
  height: 230px;
  width: 230px; }

.ws-preview > * .donut-utilization-chart-horz {
  height: 230px;
  width: 435px; }

.ws-preview > * .donut-utilization-chart-horz-sm {
  height: 230px;
  width: 425px; }

.ws-preview > * .donut-utilization-chart-vert {
  height: 275px;
  width: 300px; }

.ws-preview > * .line-chart-container {
  width: 450px; }

.ws-preview > * .line-chart-inline {
  display: inline-flex; }

.ws-preview > * .line-chart-overflow svg {
  overflow: visible; }

.ws-preview > * .pie-chart-container {
  height: 230px;
  width: 230px; }

.ws-preview > * .pie-chart-inline {
  display: inline-flex; }

.ws-preview > * .stack-chart-container {
  width: 450px; }

.ws-preview > .pf-c-alert {
  margin-bottom: 0.5rem; }

.ws-preview .pf-l-bullseye {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-bullseye > div {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-gallery {
  padding: 1rem; }

.ws-preview .pf-l-gallery > div {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-grid {
  min-height: 75px;
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-grid > .pf-l-grid__item {
  min-height: 75px;
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview {
  padding: 9px; }
  .ws-preview .pf-l-level {
    min-height: 160px;
    padding: 9px;
    border-width: 2px;
    border-style: dashed; }
  .ws-preview .pf-l-level > div {
    padding: 9px;
    border-width: 2px;
    border-style: dashed; }

.ws-preview .pf-l-split {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-split > .pf-l-split__item {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-stack {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-stack > .pf-l-stack__item {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-toolbar {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview .pf-l-toolbar > div {
  padding: 1rem;
  border-width: 2px;
  border-style: dashed; }

.ws-preview {
  background-color: white; }

.code {
  background-color: #000000;
  border-top: 1px solid #f8f8f8;
  border-right: none;
  border-bottom: none;
  border-left: none; }

.toolbar {
  background-color: #fff;
  border-top: 1px solid #f8f8f8;
  border-right: none;
  border-bottom: none;
  border-left: none; }

.message {
  transition: 500ms all ease;
  opacity: 0;
  height: 0;
  will-change: opacity; }

.messageText {
  background-color: #fff;
  color: #486b00;
  padding: 16px; }

.messageShow {
  opacity: 1;
  height: initial; }
