.ws-section-gallery {
  /* Gallery width & top placement */
  margin-top: calc(var(--pf-c-page__main-section--PaddingTop) * -1);
  width: calc(100vw - var(--pf-c-page__main-section--PaddingRight) - var(--pf-c-page__main-section--PaddingLeft));
}

/* Toolbar styles */
.ws-section-gallery .pf-c-toolbar {
  margin-left: calc(var(--pf-c-page__main-section--PaddingLeft) * -1);
  border-bottom: var(--pf-c-page__sidebar--m-light--BorderRightWidth) solid var(--pf-c-page__sidebar--m-light--BorderRightColor);
  margin-bottom: var(--pf-global--spacer--md);
  width: calc(100% + var(--pf-c-page__main-section--PaddingLeft));
  z-index: 102;
}

.ws-section-gallery .pf-c-toolbar .pf-c-toolbar__content {
  --pf-c-toolbar__content--PaddingLeft: var(--pf-c-page__main-section--PaddingLeft);
}

.ws-section-gallery .pf-c-toolbar__content-section {
  flex-wrap: nowrap;
}

.ws-section-gallery-item {
  text-decoration: inherit;
  color: inherit;
}

.ws-section-gallery .pf-c-card {
  height: 100%;
}

.ws-section-gallery .pf-c-data-list {
  max-width: 956px;
}

.ws-section-gallery .ws-section-gallery-item-summary {
  display: flex;
  align-items: center;
}

.ws-section-gallery .ws-section-gallery-item-beta-label {
  padding-top: 0;
}

@media (min-width: 1200px) {
  .ws-section-gallery {
    width: calc(100vw - var(--pf-c-page__sidebar--Width) - var(--pf-c-page__main-section--PaddingRight) - var(--pf-c-page__main-section--PaddingLeft));
  }
}
