@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.ws-c-navbar {
  // component variables
  --ws-c-navbar--BackgroundColor: #04253c;

  // component styles
  background-color: var(--ws-c-navbar--BackgroundColor);

  .nav-item {

    &.active {
      .nav-link {
        color: #5fedfe !important;

        &:hover {
          color: #5fedfe !important;
        }
      }
    }

    .nav-link {
      color: #fff !important;

      &:hover {
        color: #5fedfe !important;
      }
    }
  }

  .toggle-container {
    padding-left: 10px;

    .btn-group {
      width: 210px;

      .btn {
        font-family: 'overpass', sans-serif;
        font-weight: 500;
        width: 50%;
        background-color: var(--ws-c-navbar--BackgroundColor);
        color: #40cbeb;
        border-color: #40cbeb;

        &.active {
          background-color: #40cbeb !important;
          color: #04253c !important;
          border-color: #40cbeb !important;
        }
      }
    }
  }

  .search-icon {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .brand {
    background: url(../../assets/patternfly.svg) no-repeat 0 50%;
    height: 40px;
    line-height: 0;
    position: relative;
    text-indent: -9999px;
    width: 220px;
    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }
    &:hover:after {
      background: #1F89C7;
      content: '';
      height: 1px;
      left: 56px;
      position: absolute;
      top: 33px;
      width: 163px;
    }
  }
}
