[submodule "submodules/patternfly-core"]
	path = submodules/patternfly-core
	url = https://github.com/patternfly/patternfly.git
	branch = master
[submodule "submodules/patternfly-design"]
	path = submodules/patternfly-design
	url = https://github.com/patternfly/patternfly-design.git
	branch = master
[submodule "submodules/angular-patternfly"]
	path = submodules/angular-patternfly
	url = https://github.com/patternfly/angular-patternfly.git
	branch = master-dist
