.pf-site-switcher-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  &__title {
    color: #06c;
    margin-top: 24px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }

  .pf-w-btn-left.pf-c-button,
  .pf-w-btn-right.pf-c-button {
    &.pf-m-active {
      background-color: #06c;
    }
  }

  .pf-w-btn-left.pf-c-button,
  .pf-w-btn-left.pf-c-button::after {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0.5px;
  }

  .pf-w-btn-right.pf-c-button,
  .pf-w-btn-right.pf-c-button::after {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0.5px;
  }
}
