.pf-site-switcher-group {
  display: flex;
  flex-direction: column;
  align-items: end !important;
  &__title {
    color: #06c;
    font-weight: 700 !important;
  }

  .pf-w-btn-left.pf-c-button,
  .pf-w-btn-left.pf-c-button::after {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0.5px;
  }

  .pf-w-btn-right.pf-c-button,
  .pf-w-btn-right.pf-c-button::after {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0.5px;
  }
}
