.pf-site-switcher-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  padding-bottom: 24px;
  &__title {
    color: #06c;
    margin-top: 24px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
}

.pf-c-select {
  width: 250px;

  > .pf-c-select__toggle {
    padding-left: 16px;

    &::before {
      border: 1px solid #979797;
    }

    > .pf-c-select__toggle-wrapper {
      color: #06c;
      font-weight: 600;
    }
  }
}
