@import './fonts.scss';
@import './typography';
@import './styles/variables.scss';
@import './styles/overrides';
@import './styles/animation.scss';
@import './styles/navigation.scss';
@import './styles/homepage.scss';
@import './styles/search.scss';

// Fontpath
$pf-global--font-path: "./assets/webfonts" !default;

$block: '.pf4';

.pf-c-page__header {
  background-color: #151515;
  .pf-c-page__header-brand {
    background-color: #151515;
  }
}

#{$block}-site-c-hero {
  max-width: 600px;
  margin: 0 auto !important;
}

.pf4-site-framework-title {
  color: #06c;
  font-weight: 700 !important;
}

.pf-c-page__main-section {
  padding-top: var(--pf-global--spacer--xl);
  padding-right: var(--pf-global--spacer--2xl);
  padding-bottom: var(--pf-global--spacer--2xl);
  padding-left: var(--pf-global--spacer--2xl);

  @media only screen and (max-width: 768px) {
    padding: var(--pf-global--spacer--md);
  }
}

.pf-c-page__main-section.pf-m-light {
  background-color: var(--pf-global--BackgroundColor--200);
}

.pf4-site-framework-title {
  color: #06c;
  font-weight: 700 !important;
}

.ws-documentation {
  .description {
    margin-bottom: var(--pf-global--spacer--xl);
  }
  .section-border {
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--light);
  }
}

.ws-props-table {
  enumValues {
    max-width: 200px;
  }
  requiredColumn {
    text-align: center;
  }
}

.ws-table {
  width: 100%;
  font-size: var(--pf-global--FontSize--sm);

  .row {
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--light);
  }
  .cell {
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
  }
  .enumValues {
    white-space: pre;
  }
  .leftAlign {
    text-align: left;
  }
  .centerAlign {
    text-align: center;
  }
  .rightAlign {
    text-align: right;
  }
  td {
    word-break: break-word;
  }
}

.ws-example {
  .example {
    padding: var(--pf-global--spacer--md);
    background-color: var(--pf-global--BackgroundColor--light-100);
    border-top: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
  }
  .description {
    margin-bottom: var(--pf-global--spacer--xl);
  }
}

.ws-example-heading {
  padding: var(--pf-global--spacer--md);
  background-color: #fff;
  border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
}

.ws-live-demo {
  margin-top: 25px;

  .code {
    max-height: 37.5rem;
    overflow: auto !important;
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--light);
    background-color: var(--pf-global--BackgroundColor--100);
  }
  .toolbar {
    background-color: var(--pf-global--BackgroundColor--light-100);
  }
  .message {
    transition: 500ms all ease;
    opacity: 0;
    height: 0;
    will-change: opacity;
  }
  .messageText {
    background: white;
    color: black;
    padding: 10px;
    font-family: RedHatText;
    font-weight: 400;
  }
  .messageShow {
    opacity: 1;
    height: initial;
  }
  .example {
    padding: var(--pf-global--spacer--md);
    background-color: var(--pf-global--BackgroundColor--light-100);
    border-top: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
  }
  .ws-linked-heading {
    margin-top: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--md);
    background-color: #fff;
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
  }
}

.react-live {
  .ws-example {
    padding: var(--pf-global--spacer--md);
    background-color: var(--pf-global--BackgroundColor--light-100);
  }
}

.react-live-preview.example.pf-t-dark.pf-m-opaque-200 {
  background-color: #282d33 !important;
}

.pf-c-page__header-brand-toggle {
  position: absolute;
  right: 0;
}

.pf-site-search {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 0;
  width: 150px;
  background: transparent;
  transition: 250ms;

  @media (max-width: 768px) {
    width: 100px;
  }

  &:focus-within {
    background: #fff;
    .search-icon {
      color: darken(#d2d3d5, 15%);
    }
  }
  .pf-c-form__label {
    --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
  }
  .pf-site-search-input {
    background: #151515;
    border: 0;
    color: #fff;
    padding-left: 25px;
    &:focus {
      outline-offset: 2px;
    }
    &::placeholder {
      color: #d2d3d5;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #d2d3d5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #d2d3d5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #d2d3d5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #d2d3d5;
    }
  }
  .search-icon {
    position: absolute;
    display: inline-block;
    color: #d2d3d5;
    &:before {
      margin-top: 6px;
      font-family: "Font Awesome 5 Free";
      content: "\f002";
      font-weight: 900;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smooth: antialiased;
    }
  }
}

.ws-section {
  margin-bottom: var(--pf-global--spacer--lg);
}

.ws-header {
  margin-bottom: var(--pf-global--spacer--md);
}

.ws-preface {
  margin-top: var(--pf-global--spacer--sm);
  margin-bottom: var(--pf-global--spacer--sm);
}

.ws-full-page-example {
  width: 100%;
  min-height: 500px;
}


// pull from gatsby autolink headers
.anchor {
  color: black;
  float: left;
  padding-right: 4px;
  margin-left: -20px;
}
h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}
h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}
