/* stylelint-disable */
.Preview_title {
  padding: .var(--pf-global--spacer--sm);
  font-weight: var(--pf-global--FontWeight--bold);
  text-align: right;
}

.Preview__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Preview__body {
  width: 100%;
  padding: var(--pf-global--spacer--md);
  background-color: var(--pf-global--Color--light-100);
  border: var(--pf-global--BorderWidth--sm) solid transparent;
  transition: width .2s ease-in-out;
}

.Preview__body.has-no-padding {
  padding: 0;
}

.Preview__body.is-viewport {
  height: 300px;
  padding: 0;
  overflow: auto;
  transform: scale(1);
}

.Preview__body.is-dark-preview {
  background-color: var(--pf-global--BackgroundColor--dark-100);
}

.Preview__viewport-toggle {
  font-size: var(--pf-global--FontSize--2xl);
  background-color: var(--pf-global--Color--light-100);
  border-width: 0;
  outline: 0;
}

.Preview__viewport-toggle.is-xs-toggle { font-size: 1.1rem; }
.Preview__viewport-toggle.is-sm-toggle { font-size: 1.2rem; }
.Preview__viewport-toggle.is-md-toggle { font-size: 1.3rem; }
.Preview__viewport-toggle.is-lg-toggle { font-size: 1.4rem; }
.Preview__viewport-toggle.is-xl-toggle { font-size: 1.5rem; }
.Preview.is-xs .is-xs-toggle { color: var(--pf-global--active-color--300); }
.Preview.is-sm .is-sm-toggle { color: var(--pf-global--active-color--300); }
.Preview.is-md .is-md-toggle { color: var(--pf-global--active-color--300); }
.Preview.is-lg .is-lg-toggle { color: var(--pf-global--active-color--300); }
.Preview.is-xl .is-xl-toggle { color: var(--pf-global--active-color--300); }

.Preview.is-xs {
  background-color: var(--pf-global--Color--light-100);
  .Preview__body {
    width: 480px;
  }
}

.Preview.is-sm {
  background-color: var(--pf-global--Color--light-100);
  .Preview__body {
    width: 576px;
  }
}

.Preview.is-md {
  background-color: var(--pf-global--Color--light-100);
  .Preview__body {
    width: 768px;
  }
}

.Preview.is-lg {
  background-color: var(--pf-global--Color--light-100);
  .Preview__body {
    width: 992px;
  }
}

.Preview.is-xl {
  background-color: var(--pf-global--Color--light-100);
  .Preview__body {
    width: 1200px;
  }
}

.Preview__viewport-link {
  padding-left: .var(--pf-global--spacer--sm);
  font-size: var(--pf-global--FontSize--xl);
  color: #000;
}

.Preview__viewport-background-toggle {
  padding-left: .var(--pf-global--spacer--sm);
  font-size: var(--pf-global--FontSize--xl);
  color: #000;
  background-color: transparent;
  border-width: 0;
  border-left: var(--pf-global--BorderWidth--sm) solid #000;
  outline: 0;
}
