.pf-c-divider.ws-icons-divider {
  margin: 48px 0;
}

.pf-c-divider.ws-icons-divider:first-of-type {
  margin-top:8px;
}

.ws-icon-recommendations tbody {
  vertical-align: top;
}

.ws-icons-recommendations .ws-recommendations-entry:not(:last-child) {
  padding-bottom: 16px;
}

.ws-icons-recommendations .ws-recommendations-icon {
  width: 24px;
  display: inline-block;
  margin-right: 8px;
}

#icon-sizes,
#icon-colors,
#all-icons,
#updated-icon-recommendations {
  margin-bottom: 24px;
}

#ws-icons-table td[column="Icon"] svg {
  cursor: pointer;
}

#all-icons ~ .ws-p > .ws-code {
  margin-left: 8px;
}

.ws-icons-gridtext .ws-icon-sizes-sm {
  margin-top: 24px;
}

.ws-icons-gridtext .ws-icon-sizes .ws-p {
  margin-bottom: 8px;
}

.ws-icons-gridtext .ws-icon-sizes .ws-icon-size {
  width: 54px;
  margin-right: 24px;
  text-align: center;
}

.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__menu {
  position: static;
}

.ws-icon-size-examples .ws-login-icons {
  max-width: 100%;
}

.ws-icon-size-examples .ws-icons-appLauncher {
  width: 100%;
}

.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__toggle,
.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__group:first-child {
  display: none;
}

.ws-icon-size-examples .pf-c-card__body:first-child {
  padding: 16px;
  padding-top: 8px;
}

.ws-icon-size-examples .ws-p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.ws-icon-sizes-xl {
  margin-bottom: 24px;
}

.ws-icon-alignment {
  margin-top: 16px;
}

.ws-correct-alignment,
.ws-incorrect-alignment {
  margin-bottom: 16px;
}

.ws-icon-alignment svg {
  margin-right: 8px;
}

.ws-correct-alignment svg {
  color: var(--pf-global--success-color--100);
}

.ws-correct-alignment strong {
  color: var(--pf-global--success-color--200);
}

.ws-incorrect-alignment svg {
  color: var(--pf-global--danger-color--100);
}

.ws-incorrect-alignment strong {
  color: var(--pf-global--danger-color--200);
}

@media screen and (min-width: 992px) {
  #iconsSearch {
    width: 400px;
  }
}
