.pf-c-divider.ws-icons-divider {
  margin: 48px 0;
}

.pf-c-divider.ws-icons-divider:first-of-type {
  margin-top:8px;
}

.ws-sm-icons-1 {
  width: 170px;
}

.ws-sm-icons-2 {
  width: 200px;
}

.ws-md-icons {
  width: 600px;
}

.ws-lg-icons {
  width: 650px;
}

.ws-xl-icons {
  width: 300px;
}

.ws-icon-recommendations tbody {
  vertical-align: top;
}

.ws-icons-recommendations .ws-recommendations-icon {
  width: 24px;
  display: inline-block;
  margin-right: 8px;
}

#icon-sizes,
#icon-colors,
#all-icons,
#updated-icon-recommendations {
  margin-bottom: 24px;
}

#ws-icons-table td[data-label="Icon"] svg,
#ws-icons-table td[data-label="Unicode"] span {
  cursor: pointer;
}

#ws-icons-table [data-label="Type"] {
  display: none;
}

#all-icons ~ .ws-p > .ws-code {
  margin-left: 8px;
}

.ws-icon-code {
  background: none;
  border: none;
}

@media screen and (max-width: 1199px) {
  .ws-icons-alignment-section {
    margin-top: 24px;
  }
}

.ws-icons-gridtext .ws-icon-sizes-sm {
  margin-top: 24px;
}

.ws-icons-gridtext .ws-icon-sizes .ws-p {
  margin-bottom: 8px;
}

.ws-icons-gridtext .ws-icon-sizes .ws-icon-size {
  width: 54px;
  margin-right: 24px;
  text-align: center;
}

.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__menu {
  position: static;
}

.ws-icon-size-examples .ws-login-icons {
  max-width: 100%;
}

.ws-icon-size-examples .ws-icons-appLauncher {
  width: 100%;
}

.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__toggle,
.ws-icon-size-examples .ws-icons-appLauncher .pf-c-app-launcher__group:first-child {
  display: none;
}

.ws-icon-size-examples .pf-c-card__body:first-child {
  padding: 16px;
  padding-top: 8px;
}

.ws-icon-size-examples .ws-p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.ws-icon-sizes-xl {
  margin-bottom: 24px;
}

.ws-icon-alignment {
  margin-top: 16px;
  max-width: 480px;
  width: 100%;
}

.ws-icons-empty-state.pf-c-empty-state {
  padding-top: 0;
  padding-bottom: 0;
}

.ws-icon-svg {
  height: 16px;
  width: 16px;
  vertical-align: -0.125em;
}

@media screen and (min-width: 992px) {
  #iconsSearch,
  #recommendedIconsSearch {
    width: 400px;
  }
}
