/* Page layout */
/* tells .pf-v5-c-page to consume the available space left over from the banners/footers */
#ws-router {
  display: flex;
  flex-direction: column;
}
#ws-router > section:first-of-type:not(#nav-content) {
  flex: 1;
}

.ws-switcher-divider {
  padding: 0 var(--pf-v5-global--spacer--md);
}

@media (min-width: 1200px) {
  .ws-page-sidebar {
    box-shadow: none !important;
  }
}

.ws-page-sidebar > .pf-v5-c-page__sidebar-body {
  padding-top: var(--pf-v5-global--spacer--md);
}

/* Search */
#algolia-autocomplete-listbox-0 {
  /* Fix search results overflowing page */
  min-width: 480px !important;
}
.ws-global-search.pf-v5-c-input-group {
  /* remove white background on dark Masthead */
  --pf-v5-c-input-group--BackgroundColor: none;
}

/* For tiny (200px) viewports */
.ws-masthead .pf-v5-c-toolbar__item  {
  min-width: 0;
}

.ws-masthead .pf-v5-c-switch {
  align-items: center;
  --pf-v5-c-switch__input--not-checked__label--Color: var(--pf-v5-global--Color--100);
  --pf-v5-c-switch__input--checked__label--Color: var(--pf-v5-global--Color--100);
}
