/* Page layout */
/* tells .pf-c-page to consume the available space left over from the banners/footers */
#ws-router {
  display: flex;
  flex-direction: column;
}
#ws-router > section:first-of-type:not(#nav-content) {
  flex: 1;
}

.ws-switcher-divider {
  padding: 0 var(--pf-global--spacer--md);
}

.ws-patternfly-3 > svg {
  margin-left: var(--pf-global--spacer--sm);
}

@media (min-width: 1200px) {
  .ws-page-sidebar {
    box-shadow: none !important;
  }
}

.ws-page-sidebar > .pf-c-page__sidebar-body {
  padding-top: var(--pf-global--spacer--md);
}

/* Search */
#algolia-autocomplete-listbox-0 {
  /* Fix search results overflowing page */
  min-width: 480px !important;
}
.ws-global-search.pf-c-input-group {
  /* remove white background on dark Masthead */
  --pf-c-input-group--BackgroundColor: none;
}

/* TODO: PageHeaderTools on small viewports */
@media (max-width: 430px) {
  .ws-page-header > .pf-c-page__header-brand > .pf-c-page__header-brand-link {
    display: none;
    visibility: hidden;
  }
}

/* For tiny (200px) viewports */
.ws-masthead .pf-c-toolbar__item  {
  min-width: 0;
}
