/* Page layout */
/* tells .pf-v6-c-page to consume the available space left over from the banners/footers */
#ws-router {
  display: flex;
  flex-direction: column;
}
#ws-router > section:first-of-type:not(#nav-content) {
  flex: 1;
}

/* Search */
#algolia-autocomplete-listbox-0 {
  /* Fix search results overflowing page */
  min-width: 480px !important;
}
