#examples ~ table td,
#examples ~ table th,
#examples ~ table tr {
  padding: .5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.pf-c-table {
  background: none;
}

.pf-c-table tr {
  background: var(--pf-c-table--BackgroundColor);
}

.pf-c-table tr {
  margin-top: 8px;
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tbody:first-of-type {
    border-top: 0;
  }
}

@media screen and (max-width: 1450px) {
  table.pf-m-grid-2xl.pf-c-table tr:not(.pf-c-table__expandable-row) {
    border-bottom: 0;
  }
}
