<!DOCTYPE html>
<html>
  {% include head.html %}
  {% assign pageurl = page.url | remove_first:'/' | split:'/' %}
  {% capture primary %}{{ pageurl[0] }}{% endcapture %}
  {% capture secondary %}{{ pageurl[1] }}{% endcapture %}
  {% capture tertiary %}{{ pageurl[2] }}{% endcapture %}
  <body {% if primary == 'get-started' or primary == 'pattern-library' or primary == 'styles' %}class="has-sidebar"{% endif %}>
    {% include header.html %}
    <div class="container-fluid">
      <div class="clearfix row" id="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
  </body>
</html>
