---
layout: default
url-js-extra: ['']
---
<div id="main" class="col-md-12 clearfix" role="main">
  <article class="post">
    <header class="page-tabs-header">
      <div class="row">
        <div class="col-sm-12 col-md-6 cols-nopad-right">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="col-sm-12 col-md-6 cols-nopad-left cols-nopad-right">
          {% if page.code == false and page.design == false %}
            {% include nav-tabs-pattern.html designtab=false codetab=false %}
          {% elsif page.code == false %}
            {% include nav-tabs-pattern.html codetab=false %}
          {% elsif page.design == false %}
            {% include nav-tabs-pattern.html designtab=false %}
          {% else %}
            {% include nav-tabs-pattern.html %}
          {% endif %}
        </div>
      </div>
    </header>
    <section class="post_content">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
          {% capture my_include %}{% include {{page.overview}} %}{% endcapture %}
          {{ my_include | site_replace | markdownify }}
        </div>
        <div role="tabpanel" class="tab-pane" id="design">
          {% if page.design != false %}
            {% capture my_include %}{% include {{page.design}} %}{% endcapture %}
            {{ my_include | site_replace | markdownify }}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="code">
          <div class="pforg-code__title-row">
            <h2 class="pforg-code__core-example-title">PatternFly Core Example</h2>
            <ul class="pforg-code__showcase-link-list">
              {% if page.impl_angular %}
                <li class="pforg-code__showcase-link-item">
                  <a href="{{ page.impl_angular }}" target="patternfly_showcase">
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Pattern implementation in angular-patternfly">
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                      Angular PatternFly
                    </button>
                  </a>
                </li>
              {% else %}
                <li class="pforg-code__showcase-link-item pforg-code__showcase-link-item__disabled">
                  <button type="button" class="btn disabled" data-toggle="tooltip" data-placement="top" title="Pattern implementation not available for angular-patternfly">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                    Angular PatternFly
                  </button>
                </li>
              {% endif %}

              {% if page.impl_ng %}
                <li class="pforg-code__showcase-link-item">
                  <a href="{{ page.impl_ng }}" target="patternfly_showcase">
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Pattern implementation in patternfly-ng">
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                      PatternFly Ng
                    </button>
                  </a>
                </li>
              {% else %}
                <li class="pforg-code__showcase-link-item pforg-code__showcase-link-item__disabled disabled">
                  <button type="button" class="btn disabled" data-toggle="tooltip" data-placement="top" title="Pattern implementation not available for patternfly-ng">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                    PatternFly Ng
                  </button></a>
                </li>
              {% endif %}

              {% if page.impl_react %}
                <li class="pforg-code__showcase-link-item">
                  <a href="{{ page.impl_react }}" target="patternfly_showcase">
                    <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Pattern implementation in patternfly-react">
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                      PatternFly React
                    </button>
                  </a>
                </li>
              {% else %}
                <li class="pforg-code__showcase-link-item pforg-code__showcase-link-item__disabled disabled">
                  <button type="button" class="btn disabled" data-toggle="tooltip" data-placement="top" title="Pattern implementation not available for patternfly-react">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                    PatternFly React
                  </button>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="" id="html-css">
            {% if page.code_html %}
              {% include {{page.code_html}} %}
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
<script>
  var pageHeader = document.querySelector('.page-tabs-header h1'),
      markdownHeader = document.querySelector('.tab-pane h1'),
      markdownHeaders = document.querySelectorAll('.tab-pane h1');
  if (markdownHeader) {
    pageHeader.innerText = markdownHeader.innerText;
    Array.prototype.forEach.call(markdownHeaders, function(h1) {
      h1.style.display = 'none';
    });
  }
  // Initialize Tooltip
  $(document).ready(function() {
    $('#code').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    });
  });
</script>
