.ws-color-swatch {
  display: flex;
  margin-top: var(--pf-v5-global--spacer--md);
}

.ws-color-swatch > svg {
  flex: 0 0 44px;
  margin-right: var(--pf-v5-global--spacer--md);
  border-radius: 50%;
}

.ws-color-swatch > svg:hover {
  cursor: pointer;
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  /* box-shadow: 0 0 0 0.0625rem rgba(3, 3, 3, 0.05), 0 0.25rem 0.5rem 0.25rem rgba(3, 3, 3, 0.06); */
}

.ws-color-swatch-description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.ws-color-swatch-description-label {
  font-size: var(--pf-v5-global--FontSize--xs);
  font-weight: bold;
}

.ws-color-swatch-popover {
  font-size: var(--pf-v5-global--FontSize--sm);
}

.ws-color-swatch-popover-label {
  display: inline-block;
  padding-top: var(--pf-v5-global--spacer--md);
  padding-bottom: var(--pf-v5-global--spacer--xs);
  font-weight: bold;
}

.ws-color-swatch-popover-code {
  white-space: nowrap;
  margin-bottom: var(--pf-v5-global--spacer--md);
}
