.ws-content-blueArrow {
  color: #0066CC;
}

.ws-images {
  margin: auto;
  width: 600px;
}

#supported-browsers.ws-title + table {
  margin-bottom: 16px;
}

.ws-docs-content-img {
  text-align: center;
  margin-inline: auto;
  width: 100%;
  max-width: 700px;
}
