.react-flow {
  --xy-node-border-radius-default: var(--pf-t--global--border--radius--medium);
  --xy-edge-stroke-default: var(--pf-t--global--border--color--default);
  --xy-edge-stroke-width-default: var(--pf-t--global--border--width--regular);
  --xy-edge-stroke-selected-default: var(--pf-t--global--border--color--clicked);
  --xy-connectionline-stroke-default: var(--pf-t--global--border--color--default);
  --xy-connectionline-stroke-width-default: var(--pf-t--global--border--width--regular);
  --xy-attribution-background-color-default: transparent;
  --xy-minimap-background-color-default: var(--pf-t--global--background--color--primary--default);
  --xy-background-pattern-dots-color-default: var(--pf-t--global--border--color--disabled);
  --xy-background-pattern-line-color-default: yellow;
  --xy-background-pattern-cross-color-default: green;
  --xy-node-color-default: var(--pf-t--global--text--color--regular);
  --xy-node-border-default: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  --xy-node-background-color-default: var(--pf-t--global--background--color--primary--default);
  --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);
  --xy-node-boxshadow-hover-default: var(--pf-t--global--box-shadow--sm);
  --xy-node-boxshadow-selected-default: var(--pf-t--global--box-shadow--md);
  --xy-handle-background-color-default: var(--pf-t--global--color--brand--default);
  --xy-handle-border-color-default: var(--pf-t--global--border--color--alt);
  --xy-selection-background-color-default: rgba(0, 89, 220, 0.08);
  --xy-selection-border-default: 1px dotted rgba(0, 89, 220, 0.8);
  --xy-controls-button-background-color-default: red;
  --xy-controls-button-background-color-hover-default: #f4f4f4;
  --xy-controls-button-color-default: inherit;
  --xy-controls-button-color-hover-default: inherit;
  --xy-controls-button-border-color-default: #eee;
  --xy-controls-box-shadow-default: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  --xy-resize-background-color-default: #3367d9;
  --xy-edge-label-background-color-default: #ffffff;
  --xy-minimap-mask-background-color-default: rgba(240, 240, 240, 0.6);
  --xy-theme-selected: #f57dbd;
  --xy-theme-hover: #c5c5c5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #e8e8e8;
  --xy-node-boxshadow-default: 0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;
  --xy-edge-label-color-default: #505050;
  --xy-minimap-mask-stroke-color-default: transparent;
  --xy-minimap-mask-stroke-width-default: 1;
  --xy-minimap-node-background-color-default: #e2e2e2;
  --xy-minimap-node-stroke-color-default: transparent;
  --xy-minimap-node-stroke-width-default: 2;
  --xy-background-color-default: transparent;
}

/* Added to a Node when hovered. */
.react-flow__node:not(.react-flow__node-pfCard):hover {
  border: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--brand--hover);
}

.react-flow__node:hover {
  .pf-v6-c-card {
    --pf-v6-c-card--BorderColor: var(--pf-t--global--border--color--brand--clicked);
  }
}

/* Added to a Node when selected. */
.react-flow__node:not(.react-flow__node-pfCard).selected {
  border: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--brand--clicked);
}

.react-flow__node.selected {
  .pf-v6-c-card {
    --pf-v6-c-card--BorderColor: var(--pf-t--global--border--color--brand--hover);
  }
}
