.ws-heading-anchor {
  color: black;
  float: left;
  margin-left: -32px;
}

.ws-heading-anchor svg {
  visibility: hidden;
}
h1:hover .ws-heading-anchor svg,
h2:hover .ws-heading-anchor svg,
h3:hover .ws-heading-anchor svg,
h4:hover .ws-heading-anchor svg,
h5:hover .ws-heading-anchor svg,
h6:hover .ws-heading-anchor svg,
h1 .ws-heading-anchor:focus svg,
h2 .ws-heading-anchor:focus svg,
h3 .ws-heading-anchor:focus svg,
h4 .ws-heading-anchor:focus svg,
h5 .ws-heading-anchor:focus svg,
h6 .ws-heading-anchor:focus svg {
  visibility: visible;
}