.ws-content-icons {
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill,minmax(240px,1fr)) !important;
  grid-auto-flow: dense;
}

.ws-content-search-icons input {
  padding-left: 44px;
  background-color: #fff;
  background-image: url(search-icon.png);
  background-position: 14px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-top: 16px;
  margin-bottom: 64px;
  border: 1px solid #4D5258;
}
.ws-content-search-icons input::placeholder {
  color: #151515;
}
.ws-content-search-icons .pf-c-form__label {
  --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
}


.ws-content-iconCell {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  /* box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.12), 0 6px 20px 2px rgba(0, 0, 0, 0.12); */
  background-color: rgba(190, 225, 244, 0.5);
  cursor: pointer;
}

.ws-content-iconCell:hover {
  background-color: rgba(190, 225, 244, 0.75);
}

.ws-content-textbox {
  text-align: center;
  margin: 3px;
  padding-top: 16px;
  overflow: hidden;
}

.ws-content-label {
  font-size: 18px;
  word-break: break-all;
}

.ws-content-innerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ws-content-innerItem > * > * {
  width: 32px;
  height: 32px;
}

.ws-content-labelHovered {
  font-size: var(--pf-global--FontSize--sm);
  word-break: break-all;
  transform: scale(0.7);
}

.ws-content-popover {
  width: 500px;
}

.ws-content-popover .pf-c-popover {
  width: 100%;
}

.ws-content-popoverHeader {
  margin-right: 10px;
}

.ws-content-popoverBody {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ws-content-textDescription {
  margin-bottom: 16px;
}

.ws-content-copyButtons {
  display: flex;
  margin-left: -16px;
}

@media only screen and (max-width: 499px) {
  .ws-content-copyButtons {
    display: block;
  }
}

@media only screen and (min-width: 770px) and (max-width: 840px) {
  .ws-content-copyButtons button {
    font-size: 13px;
  }
}

.ws-content-scaleDown {
  transform: scale(.7);
}

.ws-content-openContainer {
  display: flex;
}

.ws-content-leftContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15px 0 0 10px;
  align-items: center;
}

.ws-content-rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  transform: scale(0.85);
}

.ws-content-hoveredColor {
  color: white;
}
