.ws-content-popoverBody .message {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
  height: 0;
  will-change: opacity;
}

.ws-content-popoverBody .messageShow {
  opacity: 1;
  height: auto;
}

.ws-content-popoverBody .messageText {
  background: #fff;
  color: #000;
  padding: 8px 10px 0px 0;
  font-family: RedHatText;
  font-weight: 400;
}
