// Overrides of PatternFly variables for the site

@fa-font-path:                      "/components/font-awesome/fonts";
@font-path:                         "/dist/fonts";
@icon-font-path:                    "/components/bootstrap/dist/fonts/";
@img-path:                          "/dist/img";
@navbar-sidebar-bg-color:           #292e33;
@navbar-sidebar-width:              240px;
@navbar-toggle-sidebar-width:       25px;
