@import '../../../_repos/patternfly-next/src/site/workspace.scss';

// undo some of the changes of the above import

html {
  height: auto;

  > body {
    height: auto;

    > div {
      height: auto;

      > div {
        height: auto;

        > div {
          height: auto;

          > div {
            height: auto;

            > div {
              height: auto;

              > div {
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}