


@import './_core-example.scss';
@import '../../components/_core/Preview/styles.scss';
@import './_react-example.scss';

$pf-global--image-path: "/assets/images";
$pf-global--font-path: "/assets/fonts";
$fa-font-path: "/assets/fonts/webfonts";
$pf-global--fonticon-path: "/assets/pficon";
@import '../../../_repos/patternfly-next/src/patternfly/patternfly.scss';
@import '../../../_repos/patternfly-next/src/patternfly/utilities/**/*.scss';