.pf-c-page__header {
  background-color: #151515;
  .pf-c-page__header-brand {
    background-color: #151515;
  }
  @media screen and (min-width: 992px) {
    .pf-c-page__header-nav {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
  &-brand-toggle {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.pf-c-page__sidebar.pf-m-expanded {
  box-shadow: none !important;
}
.pf4-site-header {
  .pf-c-nav__horizontal-list {
    .pf-c-nav__link {
      padding-top: 28px;
      @media (max-width: 1024px) {
        padding-top: var(--pf-global--spacer--md);
      }
      padding-right: var(--pf-global--spacer--md);
      padding-left: var(--pf-global--spacer--md);
      color: var(--pf-global--Color--light-100);
      &::after {
        top: 0 !important;
        height: 4px;
      }
      &:active,
      &:hover {
        background-color: var(--pf-global--BackgroundColor--light-100);
        color: #151515 !important;
        font-weight: var(--pf-global--FontWeight--normal);
        transition: .5s;
      }
      &.pf-m-current {
        background-color: var(--pf-global--BackgroundColor--light-100);
        color: #151515 !important;
        font-weight: var(--pf-global--FontWeight--normal);
      }
    }
  }
  li a {
    &::after {
      content: '';
      position: absolute;
      left: 50% !important;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: 1px;
      background-color: var(--pf-global--BackgroundColor--light-100);
      color: #151515 !important;
      transition: transform 250ms;
    }
  }
  li a:hover {
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
  }
  li a.pf-m-current {
    &::after {
      left: 0 !important;
      transform: none;
    }
  }
}

.pf-c-nav__simple-list .pf-c-nav__link {
  border-left: 4px solid transparent;
  &:active,
  &:hover {
    background-color: #f8f8f8;
    border-left-color: #06c;
    font-weight: var(--pf-global--FontWeight--normal);
  }
  &.pf-m-current {
    background-color: #f8f8f8;
    border-left-color: #06c;
  }
}

.pf4-site-switcher-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  &__title {
    color: #06c;
    font-weight: 700 !important;
  }
}

.pf-site-md-nav,
.pf-site-vertical-navigation {
  margin-top: 16px;

  .pf-c-nav__link {
    padding-top: var(--pf-global--spacer--sm) !important;
    border-left: 4px solid transparent;
    &:active,
    &:hover {
      background-color: #f8f8f8;
      border-left-color: #06c;
      font-weight: var(--pf-global--FontWeight--normal);
    }
    &.pf-m-current {
      background-color: #f8f8f8;
      border-left-color: #06c;
    }
  }
  .pf-c-nav__list {
    .pf-m-current.pf-c-nav__link,
    .pf-m-current > .pf-c-nav__link {
      font-size: var(--pf-global--FontSize--md);
      font-weight: var(--pf-global--FontWeight--normal);
      color: #151515;
      &.pf-m-current {
        color: #151515;
      }
    }
    .pf-c-nav__link.pf-m-hover,
    .pf-c-nav__link:hover {
      color: #151515;
    }
    & > .pf-c-nav__item > .pf-c-nav__link {
      font-size: var(--pf-global--FontSize--lg);
      font-weight: var(--pf-global--FontWeight--semi-bold);
      color: #252527;
      &:hover::after {
        background-color: transparent;
      }
      &::after {
        background-color: transparent !important;
      }
    }
    & > .pf-c-nav__item.pf-m-expanded.pf-m-current::after {
      background-color: transparent;
    }
  }
}
