/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  margin-top: 1px !important;
  &:before {
    display: none !important;
  }
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  margin-top: 0 !important;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-size: var(--pf-global--FontSize--sm) !important;
  font-weight: 700 !important;
  color: var(--pf-global--info-color--200) !important;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  padding: 10px 0 !important;
  &-text{
    margin-right: var(--pf-global--spacer--sm) !important;
    padding-right: var(--pf-global--spacer--sm) !important;
    padding-left: var(--pf-global--spacer--sm) !important;
    background-color: var(--pf-global--BackgroundColor--light-300) !important;
    border-radius: var(--pf-global--BorderRadius--lg) !important;
    color: var(--pf-global--Color--dark-100) !important;
    font-size: var(--pf-global--FontSize--xs) !important;
    font-weight: var(--pf-global--FontWeight--bold) !important;
  }
}
@media (min-width: 768px) {
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
    margin-top: 5px;
  }
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  margin-top: 0 !important;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 400 !important;
  color: #151515;
}

.aa-suggestion-title-separator {
  visibility: hidden;
  &::after {
    visibility: visible;
    margin-left: -10px;
    padding-left: 2px;
    padding-right: 5px;
    font-family: 'Font Awesome 5 Free';
    content: '\f105';
    color: var(--pf-global--icon--Color--dark);
  }
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: 1140px !important;
  min-width: 455px !important;
  width: 100% !important;
}

@media (min-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: 500px !important;
  }
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: #f5f5f5 !important;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: none !important;
  color: #151515 !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
}

@media (max-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    // min-width: 0 !important;
    width: auto;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column:after {
    display: none !important;
  }
}
