%call-to-action-text {
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--md);
  line-height: var(--pf-global--LineHeight--md);
}

%cross-link-text {
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--lg);
  line-height: var(--pf-global--LineHeight--md);
}

%btn-call-to-action {
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  border-radius: var(--pf-global--BorderRadius--sm);
  border: var(--pf-global--BorderWidth--sm) solid;
}

