.custom-text-hide {
  @media screen and (max-width: 1050px) {
    display: none;
    visibility: hidden;
  }
}

.custom-close-button {
  padding-right: 68px;
  padding-left: 68px;

  @media screen and (max-width: 599px) {
    padding-right: 16px;
    padding-left: 0px;
  }
}
