body {
  background: var(--bg, url('../../../../../../images/glass2-light.png')) no-repeat center center / cover;
}

:root:where(.pf-v6-theme-glass.pf-v6-theme-dark) {
  --bg: url('../../../../../../images/glass2-dark.png');
}

:root:where(.pf-v6-theme-glass) {
  /* --pf-t--global--background--color--glass--primary--default: blue; */
  --pf-t--global--background--color--glass--floating--default: var(--pf-t--global--background--color--floating--default);
  /* --pf-t--global--background--color--glass--primary: blue; */
  /* --pf-t--global--background--color--glass--floating: blue; */
  /* --pf-t--global--background--opacity--glass--primary: 70%; */
  /* --pf-t--global--background--opacity--glass--floating: 10%; */
  /* --pf-t--global--background--filter--glass--blur--primary: blur(0px); */
  /* --pf-t--global--background--filter--glass--blur--floating: blur(0px); */
}

:root:where(.pf-v6-theme-glass.pf-v6-theme-dark) {
  /* --pf-t--global--background--color--glass--primary--default: blue; */
  /* --pf-t--global--background--color--glass--floating--default: red; */
  /* --pf-t--global--background--color--glass--primary: green; */
  /* --pf-t--global--background--color--glass--floating: green; */
  /* --pf-t--global--background--opacity--glass--primary: 30%; */
  /* --pf-t--global--background--opacity--glass--floating: 10%; */
  /* --pf-t--global--background--filter--glass--blur--primary: blur(0px); */
  /* --pf-t--global--background--filter--glass--blur--floating: blur(0px); */
}

:root:where(.pf-v6-theme-glass) {
  .pf-m-glass
  {
    background-color: var(--pf-t--global--background--color--glass--primary--default) !important;
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary) !important;
    border: 1px solid var(--pf-t--global--border--color--alt) !important;
  }

  .pf-m-glass-floating
  {
    background-color: var(--pf-t--global--background--color--glass--floating--default) !important;
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--floating) !important;
    border: 1px solid var(--pf-t--global--border--color--alt) !important;
  }

  .pf-m-plain
  {
    background-color: transparent !important;
    border: none !important;
  }

  /* glass components */
  .pf-v6-c-page__main-container::before,
  /* .pf-v6-c-nav__link.pf-m-current, */
  /* .pf-v6-c-nav, */
  /* .pf-v6-c-page__sidebar, */
  /* .pf-v6-c-masthead, */
  .pf-v6-c-page__sidebar-body
  /* .pf-v6-c-page__main-section, */
  {
    background-color: var(--pf-t--global--background--color--glass--primary--default) !important;
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary) !important;
    border: 1px solid var(--pf-t--global--border--color--alt) !important;
    border-radius: 24px !important;
    overflow: hidden !important;
  }

  .pf-v6-c-nav__link.pf-m-current {
    background-color: var(--pf-t--global--background--color--action--plain--clicked) !important;
  }

  .pf-v6-c-page__main-container {
    position: relative;
  }
  .pf-v6-c-page__main-container::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  /* floating class components */
  .pf-v6-c-drawer__panel,
  .pf-v6-c-popover__content,
  .pf-v6-c-popover__arrow,
  .pf-v6-c-modal-box,
  .pf-v6-c-menu {
    background-color: var(--pf-t--global--background--color--glass--floating--default) !important;
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--floating) !important;
  }

  /* plain components */
  .pf-v6-c-page,
  .pf-v6-c-masthead,
  .pf-v6-c-page__sidebar,
  .pf-v6-c-page__main-section,
  .pf-v6-c-page__main-breadcrumb,
  .pf-v6-c-notification-drawer,
  .pf-v6-c-notification-drawer__header,
  .pf-v6-c-data-list__item,
  .pf-v6-c-table,
  .pf-v6-c-nav,
  .pf-v6-c-wizard__outer-wrap,
  .pf-v6-c-wizard__footer,
  .pf-v6-c-table__expandable-row-content,
  .pf-v6-c-page__main-container
  {
    background-color: transparent !important;
    border: none !important;
  }

  /* no background */
  .pf-v6-c-wizard__nav,
  .pf-v6-c-wizard__header
  {
    background: transparent !important;
  }

  .pf-v6-c-page__sidebar-body {
    margin: 0 16px 0 24px;
  }

  /* .pf-v6-c-card:not(.pf-m-plain) {
    background-color: var(--pf-t--global--background--color--glass--primary--default) !important;
    backdrop-filter: var(--pf-t--global--background--filter--glass--blur--primary) !important;
  } */
}
