.ws-content-chart-colors {
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

.ws-content-chart-colors-gallery--blue-1 {
	background-color: var(--pf-v5-chart-color-blue-100);
}

.ws-content-chart-colors-gallery--blue-2 {
	background-color: var(--pf-v5-chart-color-blue-200);
}

.ws-content-chart-colors-gallery--blue-3 {
	background-color: var(--pf-v5-chart-color-blue-300);
}

.ws-content-chart-colors-gallery--blue-4 {
	background-color: var(--pf-v5-chart-color-blue-400);
}

.ws-content-chart-colors-gallery--blue-5 {
	background-color: var(--pf-v5-chart-color-blue-500);
}

.ws-content-chart-colors-gallery--green-1 {
	background-color: var(--pf-v5-chart-color-green-100);
}

.ws-content-chart-colors-gallery--green-2 {
	background-color: var(--pf-v5-chart-color-green-200);
}

.ws-content-chart-colors-gallery--green-3 {
	background-color: var(--pf-v5-chart-color-green-300);
}

.ws-content-chart-colors-gallery--green-4 {
	background-color: var(--pf-v5-chart-color-green-400);
}

.ws-content-chart-colors-gallery--green-5 {
	background-color: var(--pf-v5-chart-color-green-500);
}

.ws-content-chart-colors-gallery--cyan-1 {
	background-color: var(--pf-v5-chart-color-cyan-100);
}

.ws-content-chart-colors-gallery--cyan-2 {
	background-color: var(--pf-v5-chart-color-cyan-200);
}

.ws-content-chart-colors-gallery--cyan-3 {
	background-color: var(--pf-v5-chart-color-cyan-300);
}

.ws-content-chart-colors-gallery--cyan-4 {
	background-color: var(--pf-v5-chart-color-cyan-400);
}

.ws-content-chart-colors-gallery--cyan-5 {
	background-color: var(--pf-v5-chart-color-cyan-500);
}

.ws-content-chart-colors-gallery--purple-1 {
	background-color: var(--pf-v5-chart-color-purple-100);
}

.ws-content-chart-colors-gallery--purple-2 {
	background-color: var(--pf-v5-chart-color-purple-200);
}

.ws-content-chart-colors-gallery--purple-3 {
	background-color: var(--pf-v5-chart-color-purple-300);
}

.ws-content-chart-colors-gallery--purple-4 {
	background-color: var(--pf-v5-chart-color-purple-400);
}

.ws-content-chart-colors-gallery--purple-5 {
	background-color: var(--pf-v5-chart-color-purple-500);
}

.ws-content-chart-colors-gallery--gold-1 {
	background-color: var(--pf-v5-chart-color-gold-100);
}

.ws-content-chart-colors-gallery--gold-2 {
	background-color: var(--pf-v5-chart-color-gold-200);
}

.ws-content-chart-colors-gallery--gold-3 {
	background-color: var(--pf-v5-chart-color-gold-300);
}

.ws-content-chart-colors-gallery--gold-4 {
	background-color: var(--pf-v5-chart-color-gold-400);
}

.ws-content-chart-colors-gallery--gold-5 {
	background-color: var(--pf-v5-chart-color-gold-500);
}

.ws-content-chart-colors-gallery--orange-1 {
	background-color: var(--pf-v5-chart-color-orange-100);
}

.ws-content-chart-colors-gallery--orange-2 {
	background-color: var(--pf-v5-chart-color-orange-200);
}

.ws-content-chart-colors-gallery--orange-3 {
	background-color: var(--pf-v5-chart-color-orange-300);
}

.ws-content-chart-colors-gallery--orange-4 {
	background-color: var(--pf-v5-chart-color-orange-400);
}

.ws-content-chart-colors-gallery--orange-5 {
	background-color: var(--pf-v5-chart-color-orange-500);
}

.ws-content-chart-colors-gallery--red-1 {
	background-color: var(--pf-v5-chart-color-red-100);
}

.ws-content-chart-colors-gallery--red-2 {
	background-color: var(--pf-v5-chart-color-red-200);
}

.ws-content-chart-colors-gallery--red-3 {
	background-color: var(--pf-v5-chart-color-red-300);
}

.ws-content-chart-colors-gallery--red-4 {
	background-color: var(--pf-v5-chart-color-red-400);
}

.ws-content-chart-colors-gallery--red-5 {
	background-color: var(--pf-v5-chart-color-red-500);
}

.ws-content-chart-colors-gallery--black-1 {
	background-color: var(--pf-v5-chart-color-black-100);
}

.ws-content-chart-colors-gallery--black-2 {
	background-color: var(--pf-v5-chart-color-black-200);
}

.ws-content-chart-colors-gallery--black-3 {
	background-color: var(--pf-v5-chart-color-black-300);
}

.ws-content-chart-colors-gallery--black-4 {
	background-color: var(--pf-v5-chart-color-black-400);
}

.ws-content-chart-colors-gallery--black-5 {
	background-color: var(--pf-v5-chart-color-black-500);
}

.ws-content-chart-colors-gallery--information {
	margin-top: 8px;
	margin-bottom: 16px
}

.ws-content-chart-colors-gallery--information>* {
	font-size: 12px
}

.ws-content-chart-colors-gallery--information>*>code {
	font-size: 10px!important
}

.ws-chart-colors-gridtext {
	max-width: 680px;
}

.pf-v5-c-divider.ws-chart-colors-divider {
	margin-top: var(--pf-v5-c-content--h2--MarginTop);
}
