.ws-content-chart-colors {
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

.ws-content-chart-colors-gallery--information {
	margin-top: 8px;
	margin-bottom: 16px
}

.ws-content-chart-colors-gallery--information>* {
	font-size: 12px
}

.ws-content-chart-colors-gallery--information>*>code {
	font-size: 10px!important
}

.ws-chart-colors-gridtext {
	max-width: 680px;
}

.pf-v5-c-divider.ws-chart-colors-divider {
	margin-top: var(--pf-v5-c-content--h2--MarginTop);
}
