.ws-toc {
  top: 0;
  order: 1;
  flex-grow: 1;
  position: sticky;
  padding: 0 var(--pf-global--spacer--lg) var(--pf-global--spacer--lg) var(--pf-global--spacer--2xl);
  align-self: flex-start;
  width: 280px;
  max-height: calc(100vh - 76px);
  overflow-y: auto;
  /* Hide TOC scrollbar IE, Edge & Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide TOC scrollbar Chrome, Safari & Opera */
.ws-toc::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1450px) {
  .ws-toc {
    display: none;
    visibility: hidden;
  }
}

.ws-toc-list {
  position: relative;
  margin-top: var(--pf-global--spacer--sm);
}

.ws-toc-list .pf-c-jump-links__list {
  padding-top: 0;
  padding-bottom: 0;
}

/* .ws-toc-link { */
.ws-toc-item .pf-c-jump-links__link {
  position: relative;
  display: block;
  color: var(--ws-toc-link--Color, var(--pf-global--Color--300));
  font-size: var(--pf-global--FontSize--sm);
  margin: -4px 0;
}

.ws-toc-sublist > .ws-toc-item:first-child .pf-c-jump-links__link {
  margin-top: 0;
}

.ws-toc-item.pf-m-current .pf-c-jump-links__link::before {
  z-index: 1;
}
