.custom-text-hide {
  @media screen and (max-width: 1100px) {
    display: none;
    visibility: hidden;
  }
}

.custom-text-link {
  text-decoration: none;
  font-weight: 700;

  @media screen and (max-width: 1100px) {
    padding-left: 16px;
  }

  @media screen and (max-width: 765px) {
    padding-left: 0px;
  }
}

 .custom-close-button {
  padding-right: 68px;
  padding-left: 68px;

   @media screen and (max-width: 799px) {
    padding-right: 0;
    padding-left: 0px;
  }
}
