$theme: '.colors-theme--';

@mixin color-block-dimensions {
  height: 85px;
  width: 85px;
}

.colors-in-context {
  padding: 16px 32px;
  background-color: #fff;
}

#{$theme}light {
  h3, p {
    margin-bottom: var(--pf-global--spacer--sm);
  }
  .pf-c-alert__title {
    margin: 0 !important;
    font-size: var(--pf-c-alert__title--FontSize) !important;
  }
}

#{$theme}color-primary {
  &-100 {
    @include color-block-dimensions;
    background-color: var(--pf-global--primary-color--100);
  }
  &-200 {
    @include color-block-dimensions;
    background-color: var(--pf-global--primary-color--200);
  }
}

#{$theme}color-secondary {
  &-100 {
    @include color-block-dimensions;
    background-color: var(--pf-global--secondary-color--100);
  }
  &-200 {
    @include color-block-dimensions;
    background-color: var(--pf-global--secondary-color--200);
  }
}

#{$theme}color {
  &-text {
    &-100 {
      @include color-block-dimensions;
      background-color: var(--pf-global--Color--100);
    }
    &-200 {
      @include color-block-dimensions;
      background-color: var(--pf-global--Color--200);
    }
    &-300 {
      @include color-block-dimensions;
      background-color: var(--pf-global--Color--300);
    }
  }

  &-link {
    &-text {
      @include color-block-dimensions;
      background-color: var(--pf-global--primary-color--100);
    }
    &-hover {
      @include color-block-dimensions;
      background-color: var(--pf-global--primary-color--200);
    }
  }

  &-icons {
    @include color-block-dimensions;
    background-color: var(--pf-global--icon--Color--light);
  }

  &-alerts {
    &--success {
      @include color-block-dimensions;
      background-color: var(--pf-global--success-color--100);
    }
    &--success-icon {
      @include color-block-dimensions;
      background-color: var(--pf-global--success-color--200);
    }
    &--info {
      @include color-block-dimensions;
      background-color: var(--pf-global--info-color--100);
    }
    &--info-icon {
      @include color-block-dimensions;
      background-color: var(--pf-global--info-color--200);
    }
    &--warning {
      @include color-block-dimensions;
      background-color: var(--pf-global--warning-color--100);
    }
    &--warning-icon {
      @include color-block-dimensions;
      background-color: var(--pf-global--warning-color--200);
    }
    &--danger {
      @include color-block-dimensions;
      background-color: var(--pf-global--danger-color--100);
    }
    &--danger-icon {
      @include color-block-dimensions;
      background-color: var(--pf-global--danger-color--300);
    }
  }
}

/*
** Gallery styles
*/

$gallery-colors: (
  "blue1": #8BC1F7,
  "blue2": #519DE9,
  "blue3": #0066CC,
  "blue4": #004B95,
  "blue5": #002F5D,
  "green1": #A2D99C,
  "green2": #88D080,
  "green3": #6EC664,
  "green4": #509149,
  "green5": #3B6C37,
  "cyan1": #8BB4B9,
  "cyan2": #5C969D,
  "cyan3": #2E7981,
  "cyan4": #015C65,
  "cyan5": #00434B,
  "purple1": #CBC0FF,
  "purple2": #B1A3FF,
  "purple3": #A18FFF,
  "purple4": #8476D1,
  "purple5": #6753AC,
  "gold1": #F9E0A2,
  "gold2": #F6D173,
  "gold3": #F4C145,
  "gold4": #F0AB00,
  "gold5": #C58C00,
  "orange1": #F4B678,
  "orange2": #EF9234,
  "orange3": #EC7A08,
  "orange4": #C46100,
  "orange5": #8F4700
);

.chart-colors-gallery {
  &--blue-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "blue1");
  }
  &--blue-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "blue2");
  }
  &--blue-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "blue3");
  }
  &--blue-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "blue4");
  }
  &--blue-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "blue5");
  }
  &--green-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "green1");
  }
  &--green-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "green2");
  }
  &--green-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "green3");
  }
  &--green-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "green4");
  }
  &--green-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "green5");
  }
  &--cyan-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "cyan1");
  }
  &--cyan-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "cyan2");
  }
  &--cyan-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "cyan3");
  }
  &--cyan-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "cyan4");
  }
  &--cyan-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "cyan5");
  }
  &--purple-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "purple1");
  }
  &--purple-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "purple2");
  }
  &--purple-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "purple3");
  }
  &--purple-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "purple4");
  }
  &--purple-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "purple5");
  }
  &--gold-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "gold1");
  }
  &--gold-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "gold2");
  }
  &--gold-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "gold3");
  }
  &--gold-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "gold4");
  }
  &--gold-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "gold5");
  }
  &--orange-1 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "orange1");
  }
  &--orange-2 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "orange2");
  }
  &--orange-3 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "orange3");
  }
  &--orange-4 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "orange4");
  }
  &--orange-5 {
    @include color-block-dimensions;
    background-color: map-get($gallery-colors, "orange5");
  }
}

.grid-modifier {
  @media screen and (min-width: 997px) {
     .grid-modifier-first {
       order: 1;
       margin-top: 31px;
     }
     .grid-modifier-second {
       order: 3;
       margin-top: 31px;
     }
     .grid-modifier-third {
       order: 2;
       margin-top: 31px;
     }
     .grid-modifier-four {
       order: 1;
       margin-top: 31px;
     }
     .grid-modifier-five {
       order: 5;
       margin-top: 31px;
     }
  }
}
