.blueArrow {
  color: #0066CC;
}

p {
  font-size: 18px;
  margin-bottom: 0px;
}

.link > a {
  font-weight: 700;
  font-size: 18px;
}

.link {
  a + a {
    margin-left: 32px;
  }
}

.link + .link {
  margin-top: 16px;
}

.lastLine {
  margin-top: 40px;
}

b {
  font-weight: 900;
}

.code {
  display: inline-block;
  margin-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border: 1px solid #ededed;
}
