// @import '~@patternfly/patternfly/components/Table/table.scss';

.pf4-site-typography-grid {
  font-family: var(--pf-global--FontFamily--sans-serif);
}
.pf-site-md-nav {
  margin-top: 16px;

  .pf-c-nav__link {
    padding-top: var(--pf-global--spacer--sm) !important;
    border-left: 4px solid transparent;
    &:active,
    &:hover {
      background-color: #f8f8f8;
      border-left-color: #06c;
      font-weight: var(--pf-global--FontWeight--normal);
    }
    &.pf-m-current {
      background-color: #f8f8f8;
      border-left-color: #06c;
    }
  }
}

.pageSectionStyles {
  padding-top: 32px;
  padding-right: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
}

// .markdown-body {
//   table {
//     @extend .pf-c-table;
//     @extend .pf-m-compact;
//   }
// }
