.pf4-site-typography-grid {
  font-family: var(--pf-global--FontFamily--sans-serif);
}

.pageSectionStyles {
  padding-top: 32px;
  padding-right: 64px;
  padding-bottom: 64px;
  padding-left: 64px;

  @media only screen and (max-width: 768px) {
    padding: 16px;
  }
}

.markdown-body {
  h1 {
    font-size: 36px;
  }
  code {
    display: inline-block;
    font-size: 16px !important;
    background-color: #fff;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
    border: 1px solid #ededed;
    white-space: normal;
    word-break: break-all;
  }
  table {
    margin: 0;
    padding: 0;
    color: #151515;
    text-align: left;
  }
  thead {
    font-size: 16px;
    white-space: nowrap;
    vertical-align: top;
  }
  th {
    padding: 16px 16px 16px 32px;
    font-size: 14px;
    line-height: 21px;
    color: #151515;

    @media only screen and (max-width: 992px) {
      padding-left: 16px;
    }
  }
  td {
    padding: 32px 16px 32px 32px;
    font-size: 16px;

    @media only screen and (max-width: 992px) {
      padding: 16px;
    }
  }
  tr {
    height: 1px;
    border-bottom: 1px solid #d2d2d2;
  }
  tr>* {
    position: relative;
    height: inherit;
    font-weight: 400;
    vertical-align: baseline;
  }
}

.react-example-card {
  box-shadow: unset;

  .pf-c-card__header {
    padding: var(--pf-global--spacer--md);
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
  }
  .pf-c-card__body {
    padding: 0;
  }
  .pf-c-card__footer {
    padding: var(--pf-global--spacer--md);
    border-top: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
  }
  .ws-footer-spacer {
    height: var(--pf-global--spacer--lg);
    background-color: #f8f8f8;
  }
}