.ws-content-chart-colors {
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

/* @media screen and (min-width:768px) {
	.ws-content-chart-colors {
		height: 85px;
		width: 85px
	}
}

@media screen and (min-width:1200px) {
	.ws-content-chart-colors {
		height: 100px;
		width: 100px
	}
} */

.ws-content-chart-colors-gallery--blue-1 {
	background-color: #8bc1f7;
}

.ws-content-chart-colors-gallery--blue-2 {
	background-color: #519de9;
}

.ws-content-chart-colors-gallery--blue-3 {
	background-color: #06c;
}

.ws-content-chart-colors-gallery--blue-4 {
	background-color: #004b95;
}

.ws-content-chart-colors-gallery--blue-5 {
	background-color: #002f5d;
}

.ws-content-chart-colors-gallery--green-1 {
	background-color: hsl(114, 41%, 81%);
}

.ws-content-chart-colors-gallery--green-2 {
	background-color: #7cc674;
}

.ws-content-chart-colors-gallery--green-3 {
	background-color: #4cb140;
}

.ws-content-chart-colors-gallery--green-4 {
	background-color: #38812f;
}

.ws-content-chart-colors-gallery--green-5 {
	background-color: #23511e;
}

.ws-content-chart-colors-gallery--cyan-1 {
	background-color: #a2d9d9;
}

.ws-content-chart-colors-gallery--cyan-2 {
	background-color: #73c5c5;
}

.ws-content-chart-colors-gallery--cyan-3 {
	background-color: #009596;
}

.ws-content-chart-colors-gallery--cyan-4 {
	background-color: #005f60;
}

.ws-content-chart-colors-gallery--cyan-5 {
	background-color: #003737;
}

.ws-content-chart-colors-gallery--purple-1 {
	background-color: #b2b0ea;
}

.ws-content-chart-colors-gallery--purple-2 {
	background-color: #8481dd;
}

.ws-content-chart-colors-gallery--purple-3 {
	background-color: #5752d1;
}

.ws-content-chart-colors-gallery--purple-4 {
	background-color: #3c3d99;
}

.ws-content-chart-colors-gallery--purple-5 {
	background-color: #2a265f;
}

.ws-content-chart-colors-gallery--gold-1 {
	background-color: #f9e0a2;
}

.ws-content-chart-colors-gallery--gold-2 {
	background-color: #f6d173;
}

.ws-content-chart-colors-gallery--gold-3 {
	background-color: #f4c145;
}

.ws-content-chart-colors-gallery--gold-4 {
	background-color: #f0ab00;
}

.ws-content-chart-colors-gallery--gold-5 {
	background-color: #c58c00;
}

.ws-content-chart-colors-gallery--orange-1 {
	background-color: #f4b678;
}

.ws-content-chart-colors-gallery--orange-2 {
	background-color: #ef9234;
}

.ws-content-chart-colors-gallery--orange-3 {
	background-color: #ec7a08;
}

.ws-content-chart-colors-gallery--orange-4 {
	background-color: #c46100;
}

.ws-content-chart-colors-gallery--orange-5 {
	background-color: #8f4700;
}

.ws-content-chart-colors-gallery--red-1 {
	background-color: #c9190b;
}

.ws-content-chart-colors-gallery--red-2 {
	background-color: #a30000;
}

.ws-content-chart-colors-gallery--red-3 {
	background-color: #7d1007;
}

.ws-content-chart-colors-gallery--red-4 {
	background-color: #470000;
}

.ws-content-chart-colors-gallery--red-5 {
	background-color: #2c0000;
}

.ws-content-chart-colors-gallery--black-1 {
	background-color: #d2d2d2;
}

.ws-content-chart-colors-gallery--black-2 {
	background-color: #bbb;
}

.ws-content-chart-colors-gallery--black-3 {
	background-color: #8b8d8f;
}

.ws-content-chart-colors-gallery--black-4 {
	background-color: #72767b;
}

.ws-content-chart-colors-gallery--black-5 {
	background-color: #4d5258;
}

.ws-content-css-var-text {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #ffffff;
	border: 1px solid #ededed !important;
}

.ws-content-chart-colors-gallery--information {
	margin-top: 8px;
	margin-bottom: 16px
}

.ws-content-chart-colors-gallery--information>* {
	font-size: 12px
}

.ws-content-chart-colors-gallery--information>*>code {
	font-size: 10px!important
}

.ws-chart-colors-gridtext {
	max-width: 680px;
}

.pf-c-divider.ws-chart-colors-divider {
	margin-top: var(--pf-c-content--h2--MarginTop);
}
