.pf-site-vertical-navigation {
  &__expanded {
    font-size: var(--pf-global--FontSize--lg);
  }
  .pf-c-nav__item.pf-m-expanded .pf-c-nav__subnav {
    max-height: 100% !important;
    font-size: var(--pf-global--FontSize--md);
  }
  .pf-c-nav__subnav {
    a.pf-c-nav__link {
      border-left: 5px solid (--pf-global--Color--light-100);
      &:active, &:hover {
        background-color: #f8f8f8;
        color: #151515;
      }
      &.pf-m-current {
        background-color: #f8f8f8;
        border-left-color: #06c;
        color: #151515;
      }
    }
  }
}

.pf-site-background-medium {
  background-color: #f8f8f8 !important;
}

.Documentation_heading {
  margin-bottom: var(--pf-global--spacer--sm);
  font-size: 24px;
  font-weight: var(--pf-global--FontWeight--semi-bold);
  color: #393f44;
}

.Component_heading {
  font-size: 28px;
  font-weight: var(--pf-global--FontWeight--semi-bold);
  color: #292e34;
}

.Documentation__docsection {
  margin-top: var(--pf-global--spacer--md);
}

.Documentation__docsection h2 {
  margin-top: var(--pf-global--spacer--xl);
  margin-bottom: var(--pf-global--spacer--md);
  font-size: var(--pf-global--FontSize--lg);
}

.Documentation {
  &__section {
    margin-bottom: var(--pf-global--spacer--xl);
  }

  code {
    color: #282d33;
    white-space: nowrap;
  }

  mark {
    background-color: #ffe995;
  }

  table {
    width: 100%;
    margin-bottom: var(--pf-global--spacer--md);
  }

  table:not(.pf-c-table) {
    td, th, tr {
      padding: var(--pf-global--spacer--sm);
      vertical-align: top;
      border-top: var(--pf-global--BorderWidth--sm) solid #e0e0e0;
      border-bottom: var(--pf-global--BorderWidth--sm) solid #e0e0e0;

      > code {
        white-space: normal;
      }
    }
  }

  .pf-c-table {
    margin-bottom: 0;

    td,
    th:not(.pf-c-table__sort) {
      border: none;
    }
  }

  &-container {
    &-tall {
      flex-wrap: wrap;
      min-height: 160px;
    }

    &-xtall {
      flex-wrap: wrap;
      min-height: 250px;
    }
  }

}
