/* stylelint-disable */
.Documentation_heading {
  margin-bottom: .5rem;
  font-size: 24px;
  font-weight: 500;
  color: #393f44;
}

.Component_heading {
  font-size: 28px;
  font-weight: 500px;
  color: #292e34;
}

.Documentation__docsection {
  margin-top: 1rem;
}

.Documentation__docsection h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25em;
}

.pf-w-section-border {
  border-bottom: 1px solid #bbb;
}

.Documentation {
  &__section {
    margin-bottom: 2rem;
  }

  code {
    padding: .25em .75em;
    color: #004368;
    white-space: nowrap;
    background-color: #def3ff;
    border-radius: .5em;
  }

  mark {
    background-color: #ffe995;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
  }

  table:not(.pf-c-table) {
    td, th, tr {
      padding: .5em;
      vertical-align: top;
      border: 1px solid #ccc;
    }
  }

  .pf-c-table {
    margin-bottom: 0;

    td,
    th:not(.pf-c-table__sort) {
      border: none;
    }

    tr:nth-child(even) {
      background-color: transparent;
    }
  }

  tr:nth-child(even) {background: #f1f1f1;}

  &-container {
    &-tall {
      flex-wrap: wrap;
      min-height: 160px;
    }

    &-xtall {
      flex-wrap: wrap;
      min-height: 250px;
    }
  }

}