.pf-c-accordion.ws-accordion-header {
  --pf-c-accordion__toggle--hover__toggle-text--Color: var(--pf-global--Color--100);;
  --pf-c-accordion__toggle--active__toggle-text--Color: var(--pf-global--Color--100);;
  --pf-c-accordion__toggle--focus__toggle-text--Color: var(--pf-global--Color--100);;
  --pf-c-accordion__toggle--m-expanded__toggle-text--Color: var(--pf-global--Color--100);;
  background-color: var(--pf-global--BackgroundColor--200);
  margin-bottom: var(--pf-global--spacer--md);
}

.ws-accordion-header-toggle {
  padding-left: 0;
}

.ws-accordion-header .ws-accordion-header-toggle::before,
.ws-accordion-header .pf-c-accordion__expanded-content-body::before {
  content: none;
}

.ws-accordion-header-toggle .ws-h2 {
  text-decoration: underline;
}
