/* stylelint-disable */
.Example {
  padding: 1rem 0;

  &:not(:last-of-type) {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
}

.Example_heading {
  margin-bottom: .5rem;
  font-size: 21px;
  font-weight: 500;
  color: #393f44;
}

.Example__toolbar {
  padding: 0 1rem;
}

.Example__section {
  background-color: #fff;
  border: none;
  padding: 0.5rem;

  .pf-p-secondary-nav__link {
    border: none;
  }
}

.Example__componentLink {
  ul {
    display: inline;
    list-style: none;
  }

  li {
    display: inline-block;
    padding-right: .25em;
  }

  code {
    display: inline-block;
    word-break: break-all;
    min-width: 32px;
    padding: 4px 8px;
    background-color: var(--pf-global--primary-color--100);
    border-radius: var(--pf-global--BorderRadius--sm);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    white-space: normal;
    a {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: var(--pf-global--primary-color--200);
    }
  }
}

.Example__button {
  border: none;
  outline: none;
}

.Example__info {
  border-left: 3px solid rgb(115, 188, 247);
  background-color: #fff;
}

.Example__info--intro {
  background-color: #fff;
}

.Example__documentation--text {
  padding: 16px;
}

.core-example-card {
  box-shadow: unset;
}