.ws-page-header {
  /* Per designer request */
  min-height: 70px !important;
}

.ws-page-header .pf-c-page__header-brand-toggle {
  display: none;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .pf-site-search {
    width: 100px;
  }
  .ws-page-header .pf-c-page__header-brand-toggle {
    display: block;
    visibility: visible;
  }
}
/* Hide version switcher on mobile */
@media screen and (max-width: 1200px) {
  .ws-page-header {
    grid-template-columns: 3fr 1fr;
  }
      
  .ws-page-header .pf-c-page__header-brand-link {
    justify-content: center;
  }
  
  .ws-org-version-switcher {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .ws-page-header .algolia-autocomplete #global-search-input ~ .ds-dropdown-menu {
    right: 0 !important;
    width: 500px;
    max-width: calc(100vw - 32px);
    min-width: 288px;
  }
}

.pf-site-search {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 0;
  width: 150px;
  background: transparent;
  transition: 250ms;
}
.pf-site-search:focus-within {
  background: #fff;
}
.pf-site-search svg path {
  fill: var(--pf-global--Color--light-100);
}
.pf-site-search:focus-within svg path {
  fill: #fff;
}
.pf-site-search .pf-c-form__label {
  --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
}
.pf-site-search #global-search-input {
  background: #151515;
  border: 0;
  color: #fff;
  padding-left: 25px;
}
.pf-site-search #global-search-input:focus {
  outline-offset: 2px;
}
.pf-site-search #global-search-input::placeholder,
.pf-site-search #global-search-input::-webkit-input-placeholder,
.pf-site-search #global-search-input::-moz-placeholder,
.pf-site-search #global-search-input:-ms-input-placeholder,
.pf-site-search #global-search-input:-ms-input-placeholder {
  color: var(--pf-global--Color--light-100);
}

.ws-org-version-switcher {
  margin-right: 8px;
}
.ws-org-version-toggle {
  color: var(--pf-global--Color--light-100);
}
.ws-org-version-toggle::before {
  border: none;
}
.ws-org-version-toggle:hover {
  border-bottom: 1px solid #fff;
}
.ws-org-version-toggle-expanded::before {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #fff;
}

/* serves as the main page container */
.ws-side-nav-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* tells .pf-c-page to consume the available space left over from the banners/footers */
.ws-page {
  flex: 1 1;
  height: auto;
}

.ws-switcher-divider {
  padding: 0 16px;
}

.ws-patternfly-3 > svg {
  margin-left: 8px;
}

.ws-page-sidebar {
  box-shadow: none !important;
}

.ws-page-sidebar > .pf-c-page__sidebar-body {
  padding-top: var(--pf-global--spacer--md);
}
