.pf-site-search {
  padding: 0 0 2px 0;
  width: 250px;
  background: transparent;
  transition: 250ms;
  position: relative;
}
.pf-site-search .pf-c-form__label {
  --pf-c-form__label--FontSize: var(--pf-global--FontSize--lg);
}
.pf-site-search #global-search-input {
  background-color: var(--pf-global--BackgroundColor--dark-100);
  border: 0;
  color: #fff;
  padding-left: 25px;
}
.pf-site-search:focus-within #global-search-input {
  background-color: var(--pf-global--BackgroundColor--dark-100);
}
.pf-site-search #global-search-input:focus {
  outline-offset: 2px;
}
.pf-site-search .global-search-icon {
  position: absolute;
  top: 10px;
  left: 4px;
}
.pf-site-search .global-search-icon path {
  fill: var(--pf-global--Color--light-100);
}

.ws-org-version-toggle {
  color: var(--pf-global--Color--light-100);
}
.ws-org-version-toggle::before {
  border: none;
}
.ws-org-version-toggle:hover {
  border-bottom: 1px solid #fff;
}
.ws-org-version-toggle-expanded::before {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #fff;
}

/* tells .pf-c-page to consume the available space left over from the banners/footers */
.ws-page {
  flex: 1 1;
  height: auto;
}

.ws-switcher-divider {
  padding: 0 16px;
}

.ws-patternfly-3 > svg {
  margin-left: 8px;
}

.ws-page-sidebar {
  box-shadow: none !important;
  overflow-y: scroll;
}

.ws-page-sidebar > .pf-c-page__sidebar-body {
  padding-top: var(--pf-global--spacer--md);
}
