.ws-gdpr-banner-container {
  width: 100vw;
  position: fixed;
  bottom: 10px;
  z-index: 201;
  justify-content: center;
}

#ws-gdpr-banner {
  max-width: 95vw;
  flex-wrap: nowrap;
  background: var(--pf-global--BackgroundColor--100);
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--Color--100);
}
