{% strip %}<header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" title="open interface project" href="{{ site.baseurl }}">{{ site.title }}</a>
          </div>
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method="get" id="searchform" action="http://www.google.com/search">
              <div class="form-group">
                <input name="q" id="q" type="text" class="form-control" autocomplete="off" placeholder="Search">
                <input name="sitesearch" type="hidden" value="patternfly.org">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
            <ul id="menu-primary" class="nav navbar-nav navbar-right">
              {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
              <li{% if location == 'get-started' %} class="active"{% endif %}><a href="{{ site.baseurl }}get-started/">Get Started</a></li>
              <li{% if location == 'whats-new' %} class="active"{% endif %}><a href="{{ site.baseurl }}whats-new">What's New</a></li>
              <li{% if location == 'pattern-library' %} class="active"{% endif %}><a href="{{ site.baseurl }}pattern-library/">Pattern Library</a></li>
              <li{% if location == 'styles' %} class="active"{% endif %}><a href="{{ site.baseurl }}styles/">Styles</a></li>
              <li{% if location == 'community' %} class="active"{% endif %}><a href="{{ site.baseurl }}community/">Community</a></li>
              <li{% if location == 'download' %} class="active"{% endif %}><a href="{{ site.baseurl }}download/">Download</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>{% endstrip %}
