{% strip %}<header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-pf-site" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" title="open interface project" href="{{ site.baseurl }}">{{ site.title }}</a>
          </div>
          <div class="navbar-collapse navbar-collapse-pf-site collapse">
            <form class="navbar-form navbar-right" method="get" id="searchform" action="http://www.google.com/search">
              <div class="form-group">
                <input name="q" id="q" type="text" class="form-control" autocomplete="off" placeholder="Search">
                <input name="sitesearch" type="hidden" value="patternfly.org">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
            <ul id="menu-primary" class="nav navbar-nav navbar-right">
              <li{% if primary == 'get-started' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/">Get Started</a>
              </li>
              <li{% if primary == 'pattern-library' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/">Pattern Library</a>
              </li>
              <li{% if primary == 'styles' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/">Styles</a>
              </li>
              <li{% if primary == 'community' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}community/">Community</a>
              </li>
              <li{% if primary == 'download' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}download/">Download</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% if primary == 'get-started' or primary == 'pattern-library' or primary == 'styles' %}<nav class="navbar navbar-sidebar" aria-labelledby="navbar-toggle-sidebar">
        <button class="btn btn-default navbar-toggle-sidebar" id="navbar-toggle-sidebar">
          <span class="fa fa-angle-double-right"></span>
          <span class="sr-only">Toggle sub navigation</span>
        </button>
        <ul>
          {% if primary == 'get-started' %}
          <li>
            <a href="{{ site.baseurl }}get-started/">Get Started</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/">Overview</a>
              </li>
              <li {% if secondary == 'contribute' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/contribute/">Contribute</a>
              </li>
              <li {% if secondary == 'frequently-asked-questions' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/frequently-asked-questions/">Frequently Asked Questions</a>
              </li>
            </ul>
          </li>
          {% elsif primary == 'pattern-library' %}
          <li>
            <a href="{{ site.baseurl }}pattern-library/">Pattern Library</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/">Overview</a>
              </li>
              <li {% if secondary == 'application-framework' %} class="active"{% endif %}>
                <a class="{% if secondary == 'application-framework' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#application-framework-secondary" aria-expanded="{% if secondary == 'application-framework' %}true{% else %}false{% endif %}" aria-controls="application-framework-secondary">Application Framework</a>
                <ul class="collapse {% if secondary == 'application-framework' %}in{% endif %}" id="application-framework-secondary">
                  <li {% if tertiary == 'login-page' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/application-framework/login-page/">Login Page</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'cards' %} class="active"{% endif %}>
                <a class="{% if secondary == 'cards' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#cards-secondary" aria-expanded="{% if secondary == 'cards' %}true{% else %}false{% endif %}" aria-controls="cards-secondary">Cards</a>
                <ul class="collapse {% if secondary == 'cards' %}in{% endif %}" id="cards-secondary">
                  <li {% if tertiary == 'aggregate-status-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/aggregate-status-card/">Aggregate Status Card</a>
                  </li>
                  <li {% if tertiary == 'dashboard-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/dashboard-card/">Dashboard Card</a>
                  </li>
                  <li {% if tertiary == 'trend-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/trend-card/">Trend Card</a>
                  </li>
                  <li {% if tertiary == 'utilization-bar-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/utilization-bar-card/">Utilization Bar Card</a>
                  </li>
                   <li {% if tertiary == 'utilization-trend-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/utilization-trend-card/">Utilization Trend Card</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'communication' %} class="active"{% endif %}>
                <a class="{% if secondary == 'communication' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#communication-secondary" aria-expanded="{% if secondary == 'communication' %}true{% else %}false{% endif %}" aria-controls="communication-secondary">Communication</a>
                <ul class="collapse {% if secondary == 'communication' %}in{% endif %}" id="communication-secondary">
                  <li {% if tertiary == 'empty-state' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/empty-state/">Empty State</a>
                  </li>
                  <li {% if tertiary == 'field-level-help' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/field-level-help/">Field Level Help</a>
                  </li>
                  <li {% if tertiary == 'inline-notifications' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/inline-notifications/">Inline Notifications</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'content-views' %} class="active"{% endif %}>
                <a class="{% if secondary == 'content-views' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#content-views-secondary" aria-expanded="{% if secondary == 'content-views' %}true{% else %}false{% endif %}" aria-controls="content-views-secondary">Content Views</a>
                <ul class="collapse {% if secondary == 'content-views' %}in{% endif %}" id="content-views-secondary">
                  <li {% if tertiary == 'dashboard-layout' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/content-views/dashboard-layout/">Dashboard Layout</a>
                  </li>
                  <li {% if tertiary == 'table' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/content-views/table/">Table</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'data-visualization' %} class="active"{% endif %}>
                <a class="{% if secondary == 'data-visualization' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#data-visualization-secondary" aria-expanded="{% if secondary == 'data-visualization' %}true{% else %}false{% endif %}" aria-controls="data-visualization-secondary">Data Visualization</a>
                <ul class="collapse {% if secondary == 'data-visualization' %}in{% endif %}" id="data-visualization-secondary">
                  <li {% if tertiary == 'donut-chart' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/donut-chart/">Donut Chart</a>
                  </li>
                  <li {% if tertiary == 'sparkline' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/sparkline/">Sparkline</a>
                  </li>
                  <li {% if tertiary == 'utilization-bar-chart' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/utilization-bar-chart/">Utilization Bar Chart</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'forms-and-controls' %} class="active"{% endif %}>
                <a class="{% if secondary == 'forms-and-controls' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#forms-and-controls-secondary" aria-expanded="{% if secondary == 'forms-and-controls' %}true{% else %}false{% endif %}" aria-controls="forms-and-controls-secondary">Forms and Controls</a>
                <ul class="collapse {% if secondary == 'forms-and-controls' %}in{% endif %}" id="forms-and-controls-secondary">
                  <li {% if tertiary == 'date-picker' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/forms-and-controls/date-picker/">Date Picker</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'navigation' %} class="active"{% endif %}>
                 <a href="{{ site.baseurl }}pattern-library/navigation/">Navigation</a>
              </li>
            </ul>
          </li>
          {% elsif primary == 'styles' %}
          <li>
            <a href="{{ site.baseurl }}styles/">Styles</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/">Overview</a>
              </li>
              <li {% if secondary == 'color-palette' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/color-palette/">Color Palette</a>
              </li>
              <li {% if secondary == 'icons' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/icons/">Icons</a>
              </li>
              <li {% if secondary == 'terminology-and-wording' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/terminology-and-wording/">Terminology and Wording</a>
              </li>
              <li {% if secondary == 'typography' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/typography/">Typography</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </nav>{% endif %}
    </header>{% endstrip %}
