<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | PatternFly{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" href="{{ "/components/patternfly/dist/img/favicon.ico" | prepend: site.baseurl }}">
  <!-- iPad retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-152.png" | prepend: site.baseurl }}">
  <!-- iPad retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-144.png" | prepend: site.baseurl }}">
  <!-- iPad non-retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-76.png" | prepend: site.baseurl }}">
  <!-- iPad non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-72.png" | prepend: site.baseurl }}">
  <!-- iPhone 6 Plus icon -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-180.png" | prepend: site.baseurl }}">
  <!-- iPhone retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-114.png" | prepend: site.baseurl }}">
  <!-- iPhone non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/components/patternfly/dist/img/apple-touch-icon-precomposed-57.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/patternfly-adjusted.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/components/patternfly/dist/css/patternfly-additions.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/patternfly-site.min.css" | prepend: site.baseurl }}">
  {% if primary == 'pattern-library' and secondary != 'widgets' # only add for pages that may contain ng-docs %}<link rel="stylesheet" href="{{ "/components/angular-patternfly/dist/docs/css/animations.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/components/angular-patternfly/dist/docs/css/angular-patternfly.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/components/angular-patternfly/dist/docs/css/ng-docs.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/components/angular-patternfly/dist/docs/css/examples.css" | prepend: site.baseurl }}">{% endif %}
  {% if page.url-css-extra %}<link href="{{ site.baseurl }}/{{ page.url-css-extra }}" rel="stylesheet" media="screen, print">{% endif %}
  <script type="text/javascript">
    window.IMAGE_PATH = "{{site.baseurl}}/assets/img"
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ "/components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/patternfly-bootstrap-combobox/js/bootstrap-combobox.js" | prepend: site.baseurl }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>  
  <script src="{{ "/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" | prepend: site.baseurl }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"></script>
  <script src="{{ "/components/bootstrap-select/dist/js/bootstrap-select.min.js" | prepend: site.baseurl }}"></script>
  {% if primary == 'pattern-library' and secondary == 'widgets' # only add for the widgets page %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.3/js/bootstrap-switch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.1/jquery.bootstrap-touchspin.min.js"></script>
  <script src="{{ "/components/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
  <script src="{{ "/components/datatables/media/js/jquery.dataTables.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/google-code-prettify/bin/prettify.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/clipboard/dist/clipboard.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/patternfly/dist/js/patternfly.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/patternfly/dist/js/patternfly.dataTables.pfFilter.min.js" | prepend: site.baseurl }}"></script>
  {% if primary == 'pattern-library' # only add for pages that may contain ng-docs %}<script src="{{ "/components/angular-patternfly/dist/docs/js/marked.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/angular.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/angular-sanitize.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/angular-animate.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/ui-bootstrap-tpls.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/angular-bootstrap-prettify.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/lodash.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/grunt-scripts/angular-patternfly.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/patternfly/dist/js/patternfly.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/js/angular-bootstrap.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/js/docs-setup.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/components/angular-patternfly/dist/docs/js/docs.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/ngdocs/formatForPFsite.js" | prepend: site.baseurl }}"></script>{% endif %}
  {% if page.url-js-extra %}
    {% for urlextrajs in page.url-js-extra %}
      {% assign prefix = urlextrajs | slice: 0, 2 %}
      {% if prefix == '//' %}
        <script src="{{ urlextrajs }}"></script>
      {% else %}
        <script src="{{ urlextrajs | prepend: '/' | prepend: site.baseurl }}"></script>
      {% endif %}
    {% endfor %}
  {% endif %}
  <script src="{{ "/assets/js/patternfly-site.min.js" | prepend: site.baseurl }}"></script>
  {% if site.baseurl == "" %}<link rel="canonical" href="/{{ page.url | replace:'index.html','' | prepend: site.url }}">{% endif %}
</head>
