{% strip %}<header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
<!--
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse-pf-site" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
-->
            <a class="navbar-brand" id="logo" title="open interface project" href="{{ site.baseurl }}">{{ site.title }}</a>
          </div>
          <div class="navbar-collapse navbar-collapse-pf-site collapse">
            <form class="navbar-form navbar-right" method="get" id="searchform" action="http://www.google.com/search">
              <div class="form-group">
                <input name="q" id="q" type="text" class="form-control" autocomplete="off" placeholder="Search">
                <input name="sitesearch" type="hidden" value="patternfly.org">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
            <ul id="menu-primary" class="nav navbar-nav navbar-right">
              <li{% if primary == 'get-started' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/">Get Started</a>
              </li>
              <li{% if primary == 'pattern-library' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/">Pattern Library</a>
              </li>
              <li{% if primary == 'styles' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/">Styles</a>
              </li>
              <li{% if primary == 'community' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}community/">Community</a>
              </li>
              <li{% if primary == 'download' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}download/">Download</a>
              </li>
              <li>
                <a href="{{ site.blogurl }}">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-sidebar {% if page.url == '/index.html' %}navbar-home{% endif %}{% if primary != 'get-started' and primary != 'pattern-library' and primary != 'styles' %} navbar-primary{% endif %}">

<!--
      { % if primary == 'get-started' or primary == 'pattern-library' or primary == 'styles' % }
      <nav class="navbar navbar-sidebar" aria-labelledby="navbar-toggle-sidebar">
        <button class="btn btn-default navbar-toggle-sidebar" id="navbar-toggle-sidebar">
          <span class="fa fa-angle-double-right"></span>
          <span class="sr-only">Toggle sub navigation</span>
        </button>
-->
        <ul>
          <li class="primary-menu {% if primary == 'get-started' or primary == 'pattern-library' or primary == 'styles' %}hidden{% endif %}">
            <a href="{{ site.baseurl }}">Menu</a>
            <ul>
              <li{% if primary == 'get-started' %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}get-started/">Get Started<span class="fa fa-angle-right"></span></a>
              </li>
              <li{% if primary == 'pattern-library' %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}pattern-library/">Pattern Library<span class="fa fa-angle-right"></span></a>
              </li>
              <li{% if primary == 'styles' %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}styles/">Styles<span class="fa fa-angle-right"></span></a>
              </li>
              <li{% if primary == 'community' %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}community/">Community</a>
              </li>
              <li{% if primary == 'download' %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}download/">Download</a>
              </li>
              <li>
                <a href="{{ site.blogurl }}">Blog</a>
              </li>
              <form class="navbar-form navbar-right" method="get" id="searchform" action="http://www.google.com/search">
                <div class="form-group">
                  <input name="q" id="q" type="text" class="form-control" autocomplete="off" placeholder="Search">
                  <input name="sitesearch" type="hidden" value="patternfly.org">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </form>
            </ul>
          </li>
          {% if primary == 'get-started' %}
          <li class="secondary-menu">
            <a class="secondary-menu-toggle"><span class="secondary-menu-toggle-icon"></span>Get Started</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/">Overview</a>
              </li>
              <li {% if secondary == 'contribute' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/contribute/">Contribute</a>
              </li>
              <li {% if secondary == 'frequently-asked-questions' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/frequently-asked-questions/">Frequently Asked Questions</a>
              </li>
              <li {% if secondary == 'setup' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}get-started/setup/">Setting Up PatternFly</a>
              </li>
            </ul>
          </li>
          {% elsif primary == 'pattern-library' %}
          <li class="secondary-menu">
            <a class="secondary-menu-toggle"><span class="secondary-menu-toggle-icon"></span>Pattern Library</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/">Overview</a>
              </li>
              <li {% if secondary == 'application-framework' %} class="active"{% endif %}>
                <a class="{% if secondary == 'application-framework' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#application-framework-secondary" aria-expanded="{% if secondary == 'application-framework' %}true{% else %}false{% endif %}" aria-controls="application-framework-secondary">Application Framework</a>
                <ul class="collapse {% if secondary == 'application-framework' %}in{% endif %}" id="application-framework-secondary">
                  <li {% if tertiary == 'login-page' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/application-framework/login-page/">Login Page</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'cards' %} class="active"{% endif %}>
                <a class="{% if secondary == 'cards' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#cards-secondary" aria-expanded="{% if secondary == 'cards' %}true{% else %}false{% endif %}" aria-controls="cards-secondary">Cards</a>
                <ul class="collapse {% if secondary == 'cards' %}in{% endif %}" id="cards-secondary">
                  <li {% if tertiary == 'aggregate-status-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/aggregate-status-card/">Aggregate Status Card</a>
                  </li>
                  <li {% if tertiary == 'trend-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/trend-card/">Trend Card</a>
                  </li>
                  <li {% if tertiary == 'utilization-bar-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/utilization-bar-card/">Utilization Bar Card</a>
                  </li>
                   <li {% if tertiary == 'utilization-trend-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/cards/utilization-trend-card/">Utilization Trend Card</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'communication' %} class="active"{% endif %}>
                <a class="{% if secondary == 'communication' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#communication-secondary" aria-expanded="{% if secondary == 'communication' %}true{% else %}false{% endif %}" aria-controls="communication-secondary">Communication</a>
                <ul class="collapse {% if secondary == 'communication' %}in{% endif %}" id="communication-secondary">
                  <li {% if tertiary == 'about-modal' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/about-modal/">About Modal</a>
                  </li>
                  <li {% if tertiary == 'empty-state' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/empty-state/">Empty State</a>
                  </li>
                  <li {% if tertiary == 'inline-notifications' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/inline-notifications/">Inline Notifications</a>
                  </li>
                  <li {% if tertiary == 'notification-drawer' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/notification-drawer/">Notification Drawer</a>
                  </li>
                  <li {% if tertiary == 'toast-notifications' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/toast-notifications/">Toast Notifications</a>
                  </li>
                  <li {% if tertiary == 'wizard' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/communication/wizard/">Wizard</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'content-views' %} class="active"{% endif %}>
                <a class="{% if secondary == 'content-views' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#content-views-secondary" aria-expanded="{% if secondary == 'content-views' %}true{% else %}false{% endif %}" aria-controls="content-views-secondary">Content Views</a>
                <ul class="collapse {% if secondary == 'content-views' %}in{% endif %}" id="content-views-secondary">
                  <li {% if tertiary == 'card-view' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/content-views/card-view/">Card View</a>
                  </li>
                  <li {% if tertiary == 'list-view' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/content-views/list-view/">List View</a>
                  </li>
                  <li {% if tertiary == 'table-view' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/content-views/table-view/">Table View</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'dashboard' %} class="active"{% endif %}>
                <a class="{% if secondary == 'dashboard' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#dashboard-secondary" aria-expanded="{% if secondary == 'dashboard' %}true{% else %}false{% endif %}" aria-controls="dashboard-secondary">Dashboard</a>
                <ul class="collapse {% if secondary == 'dashboard' %}in{% endif %}" id="dashboard-secondary">
                  <li {% if tertiary == 'dashboard-card' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/dashboard/dashboard-card/">Dashboard Card (Base)</a>
                  </li>
                  <li {% if tertiary == 'dashboard-layout' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/dashboard/dashboard-layout/">Dashboard Layout</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'data-visualization' %} class="active"{% endif %}>
                <a class="{% if secondary == 'data-visualization' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#data-visualization-secondary" aria-expanded="{% if secondary == 'data-visualization' %}true{% else %}false{% endif %}" aria-controls="data-visualization-secondary">Data Visualization</a>
                <ul class="collapse {% if secondary == 'data-visualization' %}in{% endif %}" id="data-visualization-secondary">
                  <li {% if tertiary == 'area-chart' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/area-chart/">Area Chart</a>
                  </li>
                  <li {% if tertiary == 'bar-chart' %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}pattern-library/data-visualization/bar-chart/">Bar Chart</a>
                  </li>
                  <li {% if tertiary == 'donut-chart' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/donut-chart/">Donut Chart</a>
                  </li>
                  <li {% if tertiary == 'heat-map' %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}pattern-library/data-visualization/heat-map/">Heat Map</a>
                  </li>
                  <li {% if tertiary == 'line-chart' %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}pattern-library/data-visualization/line-chart/">Line Chart</a>
                  </li>
                  <li {% if tertiary == 'pie-chart' %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}pattern-library/data-visualization/pie-chart/">Pie Chart</a>
                  </li>
                  <li {% if tertiary == 'sparkline' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/sparkline/">Sparkline</a>
                  </li>
                  <li {% if tertiary == 'utilization-bar-chart' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/data-visualization/utilization-bar-chart/">Utilization Bar Chart</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'forms-and-controls' %} class="active"{% endif %}>
                <a class="{% if secondary == 'forms-and-controls' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#forms-and-controls-secondary" aria-expanded="{% if secondary == 'forms-and-controls' %}true{% else %}false{% endif %}" aria-controls="forms-and-controls-secondary">Forms and Controls</a>
                <ul class="collapse {% if secondary == 'forms-and-controls' %}in{% endif %}" id="forms-and-controls-secondary">
                  <li {% if tertiary == 'date-picker' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/forms-and-controls/date-picker/">Date Picker</a>
                  </li>
                  <li {% if tertiary == 'field-level-help' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/forms-and-controls/field-level-help/">Field Level Help</a>
                  </li>
                  <li {% if tertiary == 'find' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/forms-and-controls/find/">Find</a>
                  </li>
                  <li {% if tertiary == 'forms' %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}pattern-library/forms-and-controls/forms/">Forms</a>
                  </li>
                  <li {% if tertiary == 'time-picker' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/forms-and-controls/time-picker/">Time Picker</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'navigation' %} class="active"{% endif %}>
                <a class="{% if secondary == 'navigation' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#navigation-secondary" aria-expanded="{% if secondary == 'navigation' %}true{% else %}false{% endif %}" aria-controls="navigation-secondary">Navigation</a>
                <ul class="collapse {% if secondary == 'navigation' %}in{% endif %}" id="navigation-secondary">
                  <li {% if tertiary == 'horizontal-navigation' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/navigation/horizontal-navigation/">Horizontal Navigation</a>
                  </li>
                  <li {% if tertiary == 'vertical-navigation' %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}pattern-library/navigation/vertical-navigation/">Vertical Navigation</a>
                  </li>
                </ul>
              </li>
              <li {% if secondary == 'widgets' %} class="active"{% endif %}>
              <a class="{% if secondary == 'widgets' %}{% else %}collapsed{% endif %}" role="button" data-toggle="collapse" href="#widgets-secondary" aria-expanded="{% if secondary == 'widgets' %}true{% else %}false{% endif %}" aria-controls="widgets-secondary">Widgets</a>
              <ul class="collapse {% if secondary == 'widgets' %}in{% endif %}" id="widgets-secondary">
                <li {% if tertiary == 'overview' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/">Overview</a>
                </li>
                <li {% if tertiary == 'accordion' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#accordion">Accordion</a>
                </li>
                <li {% if tertiary == 'alerts' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#alerts">Alerts</a>
                </li>
                <li {% if tertiary == 'badges' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#badges">Badges</a>
                </li>
<!--
                <li {% if tertiary == 'basic-charts' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#basic-charts">Basic Charts</a>
                </li>
-->
                <li {% if tertiary == 'bootstrap-combobox' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-combobox">Bootstrap Combobox</a>
                </li>
                <li {% if tertiary == 'bootstrap-datepicker' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-datepicker">Bootstrap Datepicker</a>
                </li>
                <li {% if tertiary == 'bootstrap-select' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-select">Bootstrap Select</a>
                </li>
                <li {% if tertiary == 'bootstrap-switch' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-switch">Bootstrap Switch</a>
                </li>
                <li {% if tertiary == 'bootstrap-touchspin' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-touchspin">Bootstrap Touchspin</a>
                </li>
                <li {% if tertiary == 'bootstrap-tree-view' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#bootstrap-tree-view">Bootstrap Tree View</a>
                </li>
                <li {% if tertiary == 'breadcrumbs' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#breadcrumbs">Breadcrumbs</a>
                </li>
                <li {% if tertiary == 'buttons' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#buttons">Buttons</a>
                </li>
                <li {% if tertiary == 'button-groups' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#button-groups">Button Groups</a>
                </li>
                <li {% if tertiary == 'cnt-remaining-chars' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#cnt-remaining-chars">Count Remaining Characters</a>
                </li>
                <li {% if tertiary == 'data-tables' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#data-tables">Data Tables</a>
                </li>
                <li {% if tertiary == 'dropdowns' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#dropdowns">Dropdowns</a>
                </li>
                <li {% if tertiary == 'fixed-height-accordion' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#fixed-height-accordion">Fixed Height Accordion</a>
                </li>
                <li {% if tertiary == 'forms' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#forms">Forms</a>
                </li>
                <li {% if tertiary == 'google-code-prettify' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#google-code-prettify">Google Code Prettify</a>
                </li>
                <li {% if tertiary == 'info-tip' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#info-tip">Info Tip</a>
                </li>
                <li {% if tertiary == 'kebabs' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#kebabs">Kebabs</a>
                </li>
                <li {% if tertiary == 'labels' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#labels">Labels</a>
                </li>
                <li {% if tertiary == 'list-group' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#list-group">List Group</a>
                </li>
                <li {% if tertiary == 'modal' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#modal">Modal</a>
                </li>
                <li {% if tertiary == 'pagination' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#pagination">Pagination</a>
                </li>
                <li {% if tertiary == 'panels' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#panels">Panels</a>
                </li>
                <li {% if tertiary == 'popover' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#popover">Popover</a>
                </li>
                <li {% if tertiary == 'progress-bars' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#progress-bars">Progress Bars</a>
                </li>
                <li {% if tertiary == 'search' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#search">Search</a>
                </li>
                <li {% if tertiary == 'spinner' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#spinner">Spinner</a>
                </li>
                <li {% if tertiary == 'tables' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#tables">Tables</a>
                </li>
                <li {% if tertiary == 'tabs' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#tabs">Tabs</a>
                </li>
                <li {% if tertiary == 'tooltip' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#tooltip">Tooltip</a>
                </li>
                <li {% if tertiary == 'treegrid-table' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}pattern-library/widgets/#treegrid-table">TreeGrid Table</a>
                </li>
              </ul>
              </li>
            </ul>
          </li>
          {% elsif primary == 'styles' %}
          <li class="secondary-menu">
            <a class="secondary-menu-toggle"><span class="secondary-menu-toggle-icon"></span>Styles</a>
            <ul>
              <li {% if secondary == 'index.html' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/">Overview</a>
              </li>
              <li {% if secondary == 'color-palette' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/color-palette/">Color Palette</a>
              </li>
              <li {% if secondary == 'icons' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/icons/">Icons</a>
              </li>
              <li {% if secondary == 'terminology-and-wording' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/terminology-and-wording/">Terminology and Wording</a>
              </li>
              <li {% if secondary == 'typography' %} class="active"{% endif %}>
                <a href="{{ site.baseurl }}styles/typography/">Typography</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </nav><!--{ % endif % }-->
    </header>{% endstrip %}
