<ul class="nav nav-tabs nav-justified nav-tabs-pattern" id="tabs-pattern" role="tablist">
  <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
  {% if include.designtab != false %}<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Design</a></li>{% endif %}
  {% if include.codetab != false %}<li role="presentation"><a href="#code" aria-controls="code" role="tab" data-toggle="tab">Code</a></li>{% endif %}
  {% if include.usabilitytab != false %}<li role="presentation"><a href="#usability-test" aria-controls="usability-test" role="tab" data-toggle="tab">Usability Test</a></li>{% endif %}
</ul>
