:root {
  --ws-code-editor--tooltip--MaxWidth: 16ch;
}

.ws-code-editor {
  --pf-v6-c-code-editor__header-content--PaddingInlineStart: 0;
  --pf-v6-c-code-editor__header-content--PaddingInlineEnd: 0;
}

.ws-code-editor-control {
  --pf-v6-c-button--m-control--BackgroundColor: transparent;
  --pf-v6-c-button--m-control--active--BackgroundColor: transparent;
  --pf-v6-c-button--m-control--focus--BackgroundColor: transparent;
  --pf-v6-c-button--m-control--hover--BackgroundColor: transparent;
}

.ws-code-editor-control.pf-v6-c-button {
  --pf-v6-c-button--after--BorderWidth: 0;
}

.ws-preview__thumbnail-link {
  position: relative;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
}

.ws-preview__thumbnail-link::before,
.ws-preview__thumbnail-link::after {
  position: absolute;
  z-index: var(--pf-t--global--z-index--sm);
  transition: .2s;
  opacity: 0;
}

.ws-preview__thumbnail-link:hover::before,
.ws-preview__thumbnail-link:hover::after {
  opacity: 1;
}

.ws-preview__thumbnail-link::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(0,0,0,.5);
}

.ws-preview__thumbnail-link::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-size: 52px;
  color: rgba(255,255,255,.4);
}

.ws-preview__thumbnail-link::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-size: 52px;
  color: rgba(255,255,255,.4);
}

.ws-prop-required {
  color: var(--pf-t--global--text--color--status--danger--default);
}

.ws-full-page-utils {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: var(--pf-t--global--spacer--lg);
  z-index: var(--pf-t--global--z-index--2xl);
}

.ws-full-page-utils::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--pf-t--global--background--color--floating--default);
  opacity: 0.8;
  box-shadow: var(--pf-t--global--box-shadow--sm);
}

.ws-example-toolbar {
  margin-block-end: var(--pf-t--global--spacer--lg);
}