:root {
  --ws-code-editor--tooltip--MaxWidth: 16ch;
}

.ws-example {
  margin-top: var(--pf-v5-global--spacer--lg);
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

.ws-example > .ws-example-header {
  padding: var(--pf-v5-global--spacer--md);
}

.ws-example-header > .ws-example-heading:not(:last-child) {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.ws-code-editor:not(.ws-example-code-expanded) > .pf-v5-c-code-editor__header::before {
  --pf-v5-c-code-editor__header--before--BorderBottomWidth: 0;
}

.ws-code-editor-control {
  --pf-v5-c-button--m-control--BackgroundColor: transparent;
  --pf-v5-c-button--m-control--active--BackgroundColor: transparent;
  --pf-v5-c-button--m-control--focus--BackgroundColor: transparent;
  --pf-v5-c-button--m-control--hover--BackgroundColor: transparent;
}

.ws-code-editor-control.pf-v5-c-button {
  --pf-v5-c-button--after--BorderWidth: 0;
}

.ws-preview {
  padding: var(--pf-v5-global--spacer--md);
  background-color: var(--pf-v5-global--BackgroundColor--100);
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--300);
  transition: width .2s ease-in-out;
}

.ws-core-c-page.ws-preview > .ws-preview-html,
.ws-react-c-page.ws-preview > .pf-v5-c-page {
  overflow: hidden;
}

.ws-editor {
  font-size: var(--pf-v5-global--FontSize--md);
}

.ws-editor .token.punctuation,
.ws-editor .token.operator {
  color: var(--pf-v5-global--danger-color--100);
}

.ws-preview__thumbnail-link {
  position: relative;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
}

.ws-preview__thumbnail-link::before,
.ws-preview__thumbnail-link::after {
  position: absolute;
  z-index: 500;
  transition: .2s;
  opacity: 0;
}

.ws-preview__thumbnail-link:hover::before,
.ws-preview__thumbnail-link:hover::after {
  opacity: 1;
}

.ws-preview__thumbnail-link::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(0,0,0,.5);
}

.ws-preview__thumbnail-link::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-size: 52px;
  color: rgba(255,255,255,.4);
}

.ws-preview__thumbnail-link::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-size: 52px;
  color: rgba(255,255,255,.4);
}

.pf-v5-c-badge.ws-beta-badge {
  --pf-v5-c-badge--m-unread--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
  --pf-v5-c-badge--m-unread--Color: var(--pf-v5-global--primary-color--100);
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--primary-color--100);
}

.ws-prop-required {
  color: var(--pf-v5-global--danger-color--100);
}

.ws-theme-switch-full-page {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: var(--pf-v5-global--spacer--md);
  z-index: var(--pf-v5-global--ZIndex--2xl);
}

.ws-theme-switch-full-page::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--pf-v5-global--BackgroundColor--100);
  opacity: 0.8;
  box-shadow: var(--pf-v5-global--BoxShadow--sm);
}

.pf-theme-dark .ws-theme-switch-full-page::before {
  background-color: var(--pf-v5-global--BackgroundColor--300);
}
