#ws-page-content-router {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ws-release-notes-toc {
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

.ws-release-notes-toc .pf-v5-c-card {
  height: 100%;
}

.ws-release-notes-toc .pf-v5-c-card__title {
  padding-bottom: var(--pf-v5-global--spacer--xs);
}

.ws-release-notes-toc .pf-v5-c-card__title .pf-v5-c-title {
  display: inline;
}

.ws-release-notes-toc .pf-v5-c-card__title a {
  margin-right: var(--pf-v5-global--spacer--sm);
}

.ws-release-notes-toc .pf-v5-c-card__title .pf-v5-c-badge {
  vertical-align: text-top;
}

.ws-release-notes-toc .pf-v5-c-card__body {
  color: #72767B;
  font-family: var(--pf-v5-global--FontFamily--text);
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: 400;
  line-height: 1.5;
}

.ws-code {
  display: inline-block;
  background-color: var(--pf-v5-global--BackgroundColor--100);
  padding: 1px var(--pf-v5-global--spacer--sm);
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--300);
  white-space: pre-wrap;
  font-size: var(--pf-v5-global--FontSize--sm);
  font-family: var(--pf-v5-global--FontFamily--monospace);
}

.ws-p + .ws-code {
  margin-bottom: var(--pf-v5-c-content--MarginBottom);
}

/* Table styles */
/* Undo patternfly reset to respect MD table styles */
.ws-table td[align="center"],
.ws-table th[align="center"] {
  text-align: center;
}
.ws-table td[align="left"],
.ws-table th[align="left"] {
  text-align: left;
}
.ws-table td[align="right"],
.ws-table th[align="right"] {
  text-align: right;
}
.ws-content-table > .ws-table {
  table-layout: fixed;
  width: 100%;
}
.ws-table td > code,
.ws-table th > code,
.ws-table tr > code {
  white-space: normal;
}
.ws-table tbody > tr > td {
  vertical-align: top;
}

/*
 * Copied from pf-v5-c-content.
 */
:root {
  --pf-v5-c-content--MarginBottom: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--FontSize: var(--pf-v5-global--FontSize--md);
  --pf-v5-c-content--FontWeight: var(--pf-v5-global--FontWeight--normal);
  --pf-v5-c-content--Color: var(--pf-v5-global--Color--100);
  --pf-v5-c-content--heading--FontFamily: var(--pf-v5-global--FontFamily--heading);
  --pf-v5-c-content--h1--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h1--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h1--LineHeight: var(--pf-v5-global--LineHeight--sm);
  --pf-v5-c-content--h1--FontSize: var(--pf-v5-global--FontSize--2xl);
  --pf-v5-c-content--h1--FontWeight: var(--pf-v5-global--FontWeight--normal);
  --pf-v5-c-content--h2--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h2--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h2--LineHeight: var(--pf-v5-global--LineHeight--sm);
  --pf-v5-c-content--h2--FontSize: var(--pf-v5-global--FontSize--xl);
  --pf-v5-c-content--h2--FontWeight: var(--pf-v5-global--FontWeight--normal);
  --pf-v5-c-content--h3--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h3--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h3--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--h3--FontSize: var(--pf-v5-global--FontSize--lg);
  --pf-v5-c-content--h3--FontWeight: var(--pf-v5-global--FontWeight--normal);
  --pf-v5-c-content--h4--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h4--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h4--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--h4--FontSize: var(--pf-v5-global--FontSize--md);
  --pf-v5-c-content--h4--FontWeight: var(--pf-v5-global--FontWeight--semi-bold);
  --pf-v5-c-content--h5--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h5--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h5--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--h5--FontSize: var(--pf-v5-global--FontSize--md);
  --pf-v5-c-content--h5--FontWeight: var(--pf-v5-global--FontWeight--semi-bold);
  --pf-v5-c-content--h6--MarginTop: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--h6--MarginBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--h6--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--h6--FontSize: var(--pf-v5-global--FontSize--md);
  --pf-v5-c-content--h6--FontWeight: var(--pf-v5-global--FontWeight--semi-bold);
  --pf-v5-c-content--small--MarginBottom: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--small--LineHeight: var(--pf-v5-global--LineHeight--md);
  --pf-v5-c-content--small--FontSize: var(--pf-v5-global--FontSize--sm);
  --pf-v5-c-content--small--Color: var(--pf-v5-global--Color--200);
  --pf-v5-c-content--small--FontWeight: var(--pf-v5-global--FontWeight--semi-bold);
  --pf-v5-c-content--a--Color: var(--pf-v5-global--link--Color);
  --pf-v5-c-content--a--TextDecoration: var(--pf-v5-global--link--TextDecoration);
  --pf-v5-c-content--a--hover--Color: var(--pf-v5-global--link--Color--hover);
  --pf-v5-c-content--a--hover--TextDecoration: var(--pf-v5-global--link--TextDecoration--hover);
  --pf-v5-c-content--blockquote--PaddingTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--blockquote--PaddingRight: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--blockquote--PaddingBottom: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--blockquote--PaddingLeft: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--blockquote--FontWeight: var(--pf-v5-global--FontWeight--light);
  --pf-v5-c-content--blockquote--Color: var(--pf-v5-global--Color--200);
  --pf-v5-c-content--blockquote--BorderLeftColor: var(--pf-v5-global--BorderColor--100);
  --pf-v5-c-content--blockquote--BorderLeftWidth: var(--pf-v5-global--BorderWidth--lg);
  --pf-v5-c-content--ol--PaddingLeft: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--ol--MarginTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--ol--MarginLeft: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--ol--nested--MarginTop: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--ol--nested--MarginLeft: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--ul--PaddingLeft: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--ul--MarginTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--ul--MarginLeft: var(--pf-v5-global--spacer--lg);
  --pf-v5-c-content--ul--nested--MarginTop: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--ul--nested--MarginLeft: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--ul--ListStyle: var(--pf-v5-global--ListStyle);
  --pf-v5-c-content--li--MarginTop: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-content--dl--ColumnGap: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-content--dl--RowGap: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--dt--FontWeight: var(--pf-v5-global--FontWeight--semi-bold);
  --pf-v5-c-content--dt--MarginTop: var(--pf-v5-global--spacer--md);
  --pf-v5-c-content--dt--sm--MarginTop: 0;
  --pf-v5-c-content--hr--Height: var(--pf-v5-global--BorderWidth--sm);
  --pf-v5-c-content--hr--BackgroundColor: var(--pf-v5-global--BorderColor--100);
  font-size: var(--pf-v5-c-content--FontSize);
  line-height: var(--pf-v5-c-content--LineHeight);
  color: var(--pf-v5-c-content--Color); }
.ws-li + li {
  margin-top: var(--pf-v5-c-content--li--MarginTop); }
.ws-p:not(:last-child),
.ws-dl:not(:last-child),
.ws-ol:not(:last-child),
.ws-ul:not(:last-child),
.ws-blockquote:not(:last-child),
.ws-small:not(:last-child),
.ws-pre:not(:last-child),
.ws-hr:not(:last-child),
.ws-table:not(:last-child),
.ws-content-table:not(:last-child) {
  margin-bottom: var(--pf-v5-c-content--MarginBottom); }
.ws-h1,
.ws-h2,
.ws-h3,
.ws-h4,
.ws-h5,
.ws-h6 {
  margin: 0;
  font-family: var(--pf-v5-c-content--heading--FontFamily); }
.ws-ol,
.ws-ul {
  margin: 0; }
.ws-h1 {
  margin-bottom: var(--pf-v5-c-content--h1--MarginBottom);
  font-size: var(--pf-v5-c-content--h1--FontSize);
  font-weight: var(--pf-v5-c-content--h1--FontWeight);
  line-height: var(--pf-v5-c-content--h1--LineHeight); }
  .ws-h1:not(:first-child) {
    margin-top: var(--pf-v5-c-content--h1--MarginTop); }
.ws-h2 {
  margin-bottom: var(--pf-v5-c-content--h2--MarginBottom);
  font-size: var(--pf-v5-c-content--h2--FontSize);
  font-weight: var(--pf-v5-c-content--h2--FontWeight);
  line-height: var(--pf-v5-c-content--h2--LineHeight);
    margin-top: var(--pf-v5-c-content--h2--MarginTop); }
.ws-h3 {
  margin-bottom: var(--pf-v5-c-content--h3--MarginBottom);
  font-size: var(--pf-v5-c-content--h3--FontSize);
  font-weight: var(--pf-v5-c-content--h3--FontWeight);
  line-height: var(--pf-v5-c-content--h3--LineHeight); }
  .ws-h3:not(:first-child) {
    margin-top: var(--pf-v5-c-content--h3--MarginTop); }
.ws-h4 {
  margin-bottom: var(--pf-v5-c-content--h4--MarginBottom);
  font-size: var(--pf-v5-c-content--h4--FontSize);
  font-weight: var(--pf-v5-c-content--h4--FontWeight);
  line-height: var(--pf-v5-c-content--h4--LineHeight); }
  .ws-h4:not(:first-child) {
    margin-top: var(--pf-v5-c-content--h4--MarginTop); }
.ws-h5 {
  margin-bottom: var(--pf-v5-c-content--h5--MarginBottom);
  font-size: var(--pf-v5-c-content--h5--FontSize);
  font-weight: var(--pf-v5-c-content--h5--FontWeight);
  line-height: var(--pf-v5-c-content--h5--LineHeight); }
  .ws-h5:not(:first-child) {
    margin-top: var(--pf-v5-c-content--h5--MarginTop); }
.ws-h6 {
  margin-bottom: var(--pf-v5-c-content--h6--MarginBottom);
  font-size: var(--pf-v5-c-content--h6--FontSize);
  font-weight: var(--pf-v5-c-content--h6--FontWeight);
  line-height: var(--pf-v5-c-content--h6--LineHeight); }
  .ws-h6:not(:first-child) {
    margin-top: var(--pf-v5-c-content--h6--MarginTop); }
.ws-small {
  display: block;
  font-size: var(--pf-v5-c-content--small--FontSize);
  line-height: var(--pf-v5-c-content--small--LineHeight);
  color: var(--pf-v5-c-content--small--Color); }
  .ws-small:not(:last-child) {
    margin-bottom: var(--pf-v5-c-content--small--MarginBottom); }
.ws-blockquote {
  padding: var(--pf-v5-c-content--blockquote--PaddingTop) var(--pf-v5-c-content--blockquote--PaddingRight) var(--pf-v5-c-content--blockquote--PaddingBottom) var(--pf-v5-c-content--blockquote--PaddingLeft);
  font-weight: var(--pf-v5-c-content--blockquote--FontWeight);
  color: var(--pf-v5-c-content--blockquote--Color);
  border-left: var(--pf-v5-c-content--blockquote--BorderLeftWidth) solid var(--pf-v5-c-content--blockquote--BorderLeftColor); }
.ws-hr {
  height: var(--pf-v5-c-content--hr--Height);
  background-color: var(--pf-v5-c-content--hr--BackgroundColor);
  border: none; }
.ws-ol {
  padding-left: var(--pf-v5-c-content--ol--PaddingLeft);
  margin-top: var(--pf-v5-c-content--ol--MarginTop);
  margin-left: var(--pf-v5-c-content--ol--MarginLeft); }
  .ws-ol ul {
    --pf-v5-c-content--ul--MarginTop: var(--pf-v5-c-content--ul--nested--MarginTop);
    --pf-v5-c-content--ul--MarginLeft: var(--pf-v5-c-content--ul--nested--MarginLeft); }
  .ws-ol ol {
    --pf-v5-c-content--ol--MarginTop: var(--pf-v5-c-content--ol--nested--MarginTop);
    --pf-v5-c-content--ol--MarginLeft: var(--pf-v5-c-content--ol--nested--MarginLeft); }
.ws-ul {
  padding-left: var(--pf-v5-c-content--ul--PaddingLeft);
  margin-top: var(--pf-v5-c-content--ul--MarginTop);
  margin-left: var(--pf-v5-c-content--ul--MarginLeft);
  list-style: var(--pf-v5-c-content--ul--ListStyle); }
  .ws-ul ul {
    --pf-v5-c-content--ul--MarginTop: var(--pf-v5-c-content--ul--nested--MarginTop);
    --pf-v5-c-content--ul--MarginLeft: var(--pf-v5-c-content--ul--nested--MarginLeft); }
  .ws-ul ol {
    --pf-v5-c-content--ol--MarginTop: var(--pf-v5-c-content--ol--nested--MarginTop);
    --pf-v5-c-content--ol--MarginLeft: var(--pf-v5-c-content--ol--nested--MarginLeft); }
.ws-dl {
  display: grid;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 576px) {
    .ws-dl {
      grid-template: auto / auto 1fr;
      grid-column-gap: var(--pf-v5-c-content--dl--ColumnGap);
      grid-row-gap: var(--pf-v5-c-content--dl--RowGap); } }
.ws-dt {
  font-weight: var(--pf-v5-c-content--dt--FontWeight); }
  .ws-dt:not(:first-child) {
    margin-top: var(--pf-v5-c-content--dt--MarginTop); }
    @media screen and (min-width: 576px) {
      .ws-dt:not(:first-child) {
        --pf-v5-c-content--dt--MarginTop: var(--pf-v5-c-content--dt--sm--MarginTop); } }
  @media screen and (min-width: 576px) {
    .ws-dt {
      grid-column: 1; } }
@media screen and (min-width: 576px) {
  .ws-dd {
    grid-column: 2; } }

@media screen and (max-width: 1450px) {
  .ws-mdx-child-template {
    flex-direction: column;
  }
}

.ws-mdx-content {
  flex-grow: 1;
  min-width: 0;
}

/* Design asked for this. A nice side effect is that the TOC doesn't "jump" between pages */
.ws-mdx-content-content {
  max-width: 832px;
}

/* Overlay the footer */
.ws-back-to-top {
  z-index: 2;
}
