.ws-code {
  display: inline-block;
  background-color: var(--pf-t--global--background--color--secondary--default);
  padding: 1px var(--pf-t--global--spacer--sm);
  border: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--nonstatus--gray--default);
  white-space: pre-wrap;
  font-size: var(--pf-t--global--font--size--body--sm);
  font-family: var(--pf-t--global--font--family--mono);
}

.ws-image {
  text-align: center;
}

.ws-back-to-top {
  z-index: var(--pf-t--global--z-index--2xl);
}
