.content-outer-div {
  width: 200px;
  margin: 0 auto;
}

.content-inner-div {
  margin-left: 5%;
}

.ws-content-spacerTitle {
  font-weight: 600;
  font-size: 20px;
}

.ws-content-p {
  font-size: 18px;
}

.ws-content-spacer4 {
  margin-right: 16px;
  background-color: #ec861b;
  width: 4px;
  height: 64px;
}

.ws-content-spacer8 {
  margin-right: 16px;
  background-color: #9bd917;
  width: 8px;
  height: 64px;
}

.ws-content-spacer16 {
  margin-right: 16px;
  background-color: #51a549;
  width: 16px;
  height: 64px;
}

.ws-content-spacer24 {
  margin-right: 16px;
  background-color: #1b8793;
  width: 24px;
  height: 64px;
}

.ws-content-spacer32 {
  margin-right: 16px;
  background-color: #1893d2;
  width: 32px;
  height: 64px;
}

.ws-content-spacer48 {
  margin-right: 16px;
  background-color: #6743c6;
  width: 48px;
  height: 64px;
}

.ws-content-spacer64 {
  margin-right: 16px;
  background-color: #341974;
  width: 64px;
  height: 64px;
}

.ws-content-correct {
  color: var(--pf-v5-global--success-color--100);
}

.ws-content-correct i {
  margin-right: 6px;
}

.ws-content-incorrect {
  color: var(--pf-v5-global--danger-color--100);
}

.ws-content-incorrect i {
  margin-right: 6px;
}

.ws-content-demo {
  background-color: var(--pf-v5-global--BackgroundColor--100);
  flex-wrap: wrap;
  max-width: 680px;
}

.ws-content-border {
  margin: 0;
  padding: 0;
  border: 1px solid #3e9dd0;
}

.ws-content-p + .ws-content-border {
  margin-top: 24px;
}
