/* Toolbar styles */
.ws-component-gallery > .pf-c-toolbar {
  margin-left: calc(var(--pf-c-page__main-section--PaddingLeft) * -1);
  border-bottom: var(--pf-c-page__sidebar--m-light--BorderRightWidth) solid var(--pf-c-page__sidebar--m-light--BorderRightColor);
  margin-bottom: var(--pf-global--spacer--md);
  width: calc(100% + var(--pf-c-page__main-section--PaddingLeft));
}

.ws-component-gallery > .pf-c-toolbar > .pf-c-toolbar__content {
  --pf-c-toolbar__content--PaddingLeft: var(--pf-c-page__main-section--PaddingLeft);
}

/* Hide searchinput "x" button in favor of "Reset" text */
.ws-component-gallery > .pf-c-toolbar .pf-c-text-input-group__utilities {
  display: none;
}

/* Sidebar styles */
.ws-component-gallery > .pf-c-sidebar__main > .pf-c-sidebar__panel {
  border-left: var(--pf-c-page__sidebar--m-light--BorderRightWidth) solid var(--pf-c-page__sidebar--m-light--BorderRightColor);
  margin-left: var(--pf-global--spacer--md);
  padding-left: var(--pf-global--spacer--md);
  margin-top: calc(var(--pf-global--spacer--md) * -1);
  padding-top: var(--pf-global--spacer--md);
  top: 70px;
  height: calc(100vh - 146px);
}

.ws-component-gallery .ws-view-component {
  margin-top: var(--pf-global--spacer--md);
}
