/* Toolbar styles */
.ws-component-gallery > .pf-c-toolbar {
  margin-left: calc(var(--pf-c-page__main-section--PaddingLeft) * -1);
  border-bottom: var(--pf-c-page__sidebar--m-light--BorderRightWidth) solid var(--pf-c-page__sidebar--m-light--BorderRightColor);
  margin-bottom: var(--pf-global--spacer--md);
  width: calc(100% + var(--pf-c-page__main-section--PaddingLeft));
  z-index: 101;
}

.ws-component-gallery > .pf-c-toolbar > .pf-c-toolbar__content {
  --pf-c-toolbar__content--PaddingLeft: var(--pf-c-page__main-section--PaddingLeft);
}

/* Hide searchinput "x" button in favor of "Reset" text */
.ws-component-gallery > .pf-c-toolbar .pf-c-text-input-group__utilities {
  display: none;
}

/* Sidebar styles */
.ws-component-gallery > .pf-c-sidebar__main > .pf-c-sidebar__panel {
  border-left: var(--pf-c-page__sidebar--m-light--BorderRightWidth) solid var(--pf-c-page__sidebar--m-light--BorderRightColor);
  padding: var(--pf-global--spacer--md);
  top: 93px;
  z-index: 101;
  margin: calc(var(--pf-global--spacer--md) * -1) 0 var(--pf-global--spacer--md) calc(var(--pf-global--spacer--md) * -1);
}

@media (min-width: 508px) {
  .ws-component-gallery > .pf-c-sidebar__main > .pf-c-sidebar__panel {
    top: 69px;
  }
}

@media (min-width: 768px) {
  .ws-component-gallery > .pf-c-sidebar__main > .pf-c-sidebar__panel {
    height: calc(100vh - 146px);
    margin-left: var(--pf-global--spacer--md);
    margin-bottom: 0;
   }
}

.ws-component-gallery .pf-c-card {
  height: 100%;
}

.ws-component-gallery .ws-view-component {
  margin-top: var(--pf-global--spacer--md);
}
