.ws-mdx-p {
  font-size: var(--pf-global--FontSize--lg);
}

.pf4-c-background-image {
  background-size: contain;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-image: none, linear-gradient(180deg, #004080, #06c);
  background-size: cover;
}

@media (min-width: 576px) {
  .pf4-c-background-image {
    background-position: 50%, 100%;
    background-image: url("../images/aboutPF4Lines.svg"), linear-gradient(to bottom, #004080, #0066cc);
    background-size: contain;
  }
}

@media (min-width: 992px) {
  .pf4-c-background-image {
    background-image: url("../images/homeHeroLines.svg"), linear-gradient(to bottom, #004080, #0066cc);
    background-position: top, right;
    background-size: cover;
  }
}

.pf-m-white,
.pf-m-white.ws-mdx-a {
  color: white;
}

/* Get started CTA */
.pf4-c-button__cta-primary,
.pf4-c-button__cta-outline {
  border: var(--pf-global--BorderWidth--sm) solid #fff;
  font-size: var(--pf-global--FontSize--lg);
  line-height: 1.5;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  transition: var(--pf-global--Transition);
}

.pf4-c-button__cta-primary,
.pf4-c-button__cta-outline:hover {
  background-color: var(--pf-global--Color--light-100);
  color: #06c !important;
}

.pf4-c-button__cta-outline,
.pf4-c-button__cta-primary:hover {
  background-color: transparent;
  color: var(--pf-global--Color--light-100)!important;
}

#hello-were-patternfly + .ws-mdx-p {
  margin-bottom: var(--pf-global--spacer--sm);
}

#patternfly-principles {
  font-size: var(--pf-global--FontSize--4xl);
}

#flyer-fundamentals .ws-heading-anchor {
  color: var(--pf-global--Color--100);
}

.ws-pf-principle .pf-l-flex {
  align-items: flex-start;
  flex-wrap: nowrap;
}

.ws-pf-principle .pf-l-flex > div:first-child {
  margin-right: var(--pf-global--spacer--3xl);
  flex-shrink: 0;
  width: 93px;
  text-align: center;
}

@media (max-width: 767px) {
  .ws-pf-principle .pf-l-flex {
    flex-wrap: wrap;
  }

  .ws-pf-principle .ws-principles-img {
    margin-bottom: var(--pf-global--spacer--lg);
  }
}

.pf4-c-background-lines {
  width: 100%;
  max-width: 100%;
  background-image: url("./lines-background.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0,100%;
}

.pf4-c-image__laptop {
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/laptop.svg");
}

.pf4-c-image__phone {
  position: relative;
  top: -120px;
  height: 25%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 32%;
  background-image: url("../images/phone.svg");
}

.pf4-c-image__screen {
  position: relative;
  top: -225px;
  height: 25%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 60%;
  z-index: 2;
  background-image: url("../images/screen.svg");
}

.pf4-c-image__desktop {
  position: relative;
  top: -300px;
  height: 42%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 42%;
  background-image: url("../images/desktop.svg");
}

.pf4-c-background-image-principles {
  background-position-x: 100%, 100%;
  background-position-y: 0, 50%;
  background-repeat: no-repeat;
  background-image: url("./principles-background.svg"), linear-gradient(180deg,#06c,#004080);
}

.ws-homepage-main-section {
  padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--2xl) var(--pf-global--spacer--2xl);
}

.ws-homepage-main-section.pf4-c-background-image .pf4-site-c-hero {
  margin-bottom: 0;
  margin: var(--pf-global--spacer--xl) auto 0;
}

.ws-mdx-a {
  font-size: var(--pf-global--FontSize--lg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInOne {
  animation-delay: .2s;
}

.fadeInTwo {
  animation-delay: .6s;
}

.fadeInThree {
  animation-delay: 1s;
}

.fadeInFour {
  animation-delay: 1.4s;
}

.pf4-banner-link{
  white-space: nowrap;
}
