.ws-mdx-p {
  font-size: 18px;
}

.pf4-c-background-image {
  background-size: contain;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* background-image: url("../images/homeHeroLines.svg"), linear-gradient(to bottom, #004080, #0066cc); */
  background-image: none,linear-gradient(180deg,#004080,#06c);
  background-size: cover;
}

@media (min-width: 576px) {
  .pf4-c-background-image {
    background-position: 50%, 100%;
    background-image: url("../images/aboutPF4Lines.svg"), linear-gradient(to bottom, #004080, #0066cc);
    background-size: contain;
  }
}

@media (min-width: 992px) {
  .pf4-c-background-image {
    background-image: url("../images/homeHeroLines.svg"), linear-gradient(to bottom, #004080, #0066cc);
    background-position: top, right;
    background-size: cover;
  }
}

.pf-m-white,
.pf-m-white.ws-mdx-a {
  color: white;
}

/* Get started CTA */
.pf4-c-button__cta-primary,
.pf4-c-button__cta-outline {
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 24px;
  transition: var(--pf-global--Transition);
}

.pf4-c-button__cta-primary,
.pf4-c-button__cta-outline:hover {
  background-color: var(--pf-global--Color--light-100);
  color: #06c !important;
}

.pf4-c-button__cta-outline,
.pf4-c-button__cta-primary:hover {
  background-color: transparent;
  color: var(--pf-global--Color--light-100)!important;
}

#hello-were-patternfly + .ws-mdx-p {
  margin-bottom: 8px;
}

#patternfly-principles {
  font-size: 36px;
}

#flyer-fundamentals .ws-heading-anchor {
  color: var(--pf-global--Color--100);
}

.ws-get-started:hover {
  color: var(--pf-global--Color--light-200);
}

.ws-pf-principle .pf-l-flex {
  align-items: flex-start;
  flex-wrap: nowrap;
}

.ws-pf-principle .pf-l-flex > div:first-child {
  margin-right: 64px;
  flex-shrink: 0;
  width: 93px;
  text-align: center;
}

@media (max-width: 767px) {
  .ws-pf-principle .pf-l-flex {
    flex-wrap: wrap;
  }
  
  .ws-pf-principle .ws-principles-img {
    margin-bottom: 24px;
  }
}

.pf4-c-background-lines {
  width: 100%;
  max-width: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NzMuNCAxMTA1LjIiPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4MTYuMDI4IiB5MT0iMTU5MC4xMTciIHgyPSI3NTQuODc3IiB5Mj0iMjA0NS4yNjQiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC42OTI4IC0uODEzMiAtMTY1OS4zNzMgODk0LjQxMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzU0ZWVmZiIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii4xMjYiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjI4MyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNDQ3Ii8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii42MTYiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjc5NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIvPjwvbGluZWFyR3JhZGllbnQ+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNhKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik02NzMuNCAwTDI3Ni4xIDMyMyIvPjxsaW5lYXJHcmFkaWVudCBpZD0iYiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4MjEuMTgzIiB5MT0iMTUzNy44MTYiIHgyPSI3NjEuMDUzIiB5Mj0iMTk4NS4zNjciIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC42OTI4IC0uODEzMiAtMTY1OS4zNzMgODk0LjQxMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzU0ZWVmZiIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii4xMjYiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjI4MyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNDQ3Ii8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii42MTYiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjc5NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIvPjwvbGluZWFyR3JhZGllbnQ+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNiKSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjczLjQgNzguNkwyMTEgMzQ2LjUiLz48bGluZWFyR3JhZGllbnQgaWQ9ImMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iODk3LjA2NyIgeTE9IjEyOTEuNTQ2IiB4Mj0iODEwLjgxOCIgeTI9IjE5MzMuNDg4IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAuNjkyOCAtLjgxMzIgLTE2NTkuMzczIDg5NC40MTMpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM1NGVlZmYiIHN0b3Atb3BhY2l0eT0iMCIvPjxzdG9wIG9mZnNldD0iLjEyNiIgc3RvcC1jb2xvcj0iIzQ1Y2ZlZSIgc3RvcC1vcGFjaXR5PSIuMTI2Ii8+PHN0b3Agb2Zmc2V0PSIuMjgzIiBzdG9wLWNvbG9yPSIjMzdhZWRjIiBzdG9wLW9wYWNpdHk9Ii4yODMiLz48c3RvcCBvZmZzZXQ9Ii40NDciIHN0b3AtY29sb3I9IiMyYjk1Y2UiIHN0b3Atb3BhY2l0eT0iLjQ0NyIvPjxzdG9wIG9mZnNldD0iLjYxNiIgc3RvcC1jb2xvcj0iIzIzODNjNCIgc3RvcC1vcGFjaXR5PSIuNjE2Ii8+PHN0b3Agb2Zmc2V0PSIuNzk1IiBzdG9wLWNvbG9yPSIjMWU3OGJlIiBzdG9wLW9wYWNpdHk9Ii43OTUiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxYzc1YmMiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIG9wYWNpdHk9Ii41IiBmaWxsPSJub25lIiBzdHJva2U9InVybCgjYykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjczLjQgMTU0LjRsLTUyOSA0NzcuOCIvPjxsaW5lYXJHcmFkaWVudCBpZD0iZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI4OTcuNDkzIiB5MT0iMTUyNy43NTQiIHgyPSI4OTYuMjM2IiB5Mj0iMTUzNy4xMDkiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC42OTI4IC0uODEzMiAtMTY1OS4zNzMgODk0LjQxMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzU0ZWVmZiIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii4xMjYiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjI4MyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNDQ3Ii8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii42MTYiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjc5NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIvPjwvbGluZWFyR3JhZGllbnQ+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNkKSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjczLjQgNjgzTDEyOSAzMTUuMyIvPjxsaW5lYXJHcmFkaWVudCBpZD0iZSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDc2LjExIiB5MT0iMTE2OC44NDYiIHgyPSIxMDUxLjQ3NyIgeTI9IjEzNTIuMTg1IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAuNjkyOCAtLjgxMzIgLTE2NTkuMzczIDg5NC40MTMpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM1NGVlZmYiIHN0b3Atb3BhY2l0eT0iMCIvPjxzdG9wIG9mZnNldD0iLjEyNiIgc3RvcC1jb2xvcj0iIzQ1Y2ZlZSIgc3RvcC1vcGFjaXR5PSIuMTI2Ii8+PHN0b3Agb2Zmc2V0PSIuMjgzIiBzdG9wLWNvbG9yPSIjMzdhZWRjIiBzdG9wLW9wYWNpdHk9Ii4yODMiLz48c3RvcCBvZmZzZXQ9Ii40NDciIHN0b3AtY29sb3I9IiMyYjk1Y2UiIHN0b3Atb3BhY2l0eT0iLjQ0NyIvPjxzdG9wIG9mZnNldD0iLjYxNiIgc3RvcC1jb2xvcj0iIzIzODNjNCIgc3RvcC1vcGFjaXR5PSIuNjE2Ii8+PHN0b3Agb2Zmc2V0PSIuNzk1IiBzdG9wLWNvbG9yPSIjMWU3OGJlIiBzdG9wLW9wYWNpdHk9Ii43OTUiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxYzc1YmMiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIG9wYWNpdHk9Ii41IiBmaWxsPSJub25lIiBzdHJva2U9InVybCgjZSkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjczLjQgOTUwLjFMMTI0LjEgODA3LjMiLz48bGluZWFyR3JhZGllbnQgaWQ9ImYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTE0Ni4wNiIgeTE9IjkxOS4zOTYiIHgyPSIxMDkzLjY3IiB5Mj0iMTMwOS4zMzUiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC42OTI4IC0uODEzMiAtMTY1OS4zNzMgODk0LjQxMykiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzU0ZWVmZiIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii4xMjYiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjI4MyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNDQ3Ii8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii42MTYiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjc5NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIvPjwvbGluZWFyR3JhZGllbnQ+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNmKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik02NzMuNCAxMDEyLjZsLTYyNi45IDc2LjMiLz48L3N2Zz4=),linear-gradient(180deg,#fff,#fff);
  background-repeat: no-repeat,no-repeat;
  background-position: 100% 0,100%;
}

.pf4-c-image__laptop {
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/laptop.svg");
}

.pf4-c-image__phone {
  position: relative;
  top: -120px;
  height: 25%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 32%;
  background-image: url("../images/phone.svg");
}

.pf4-c-image__screen {
  position: relative;
  top: -225px;
  height: 25%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 60%;
  z-index: 2;
  background-image: url("../images/screen.svg");
}

.pf4-c-image__desktop {
  position: relative;
  top: -300px;
  height: 42%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 42%;
  background-image: url("../images/desktop.svg");
}

.pf4-c-background-image-principles {
  background-position-x: 100%, 100%;
  background-position-y: 0, 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NTIuOTggOTAzLjQzIj48bGluZWFyR3JhZGllbnQgaWQ9ImEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTI0My41MTEiIHkxPSItOTg2Ljg4NSIgeDI9IjEyMDkuMTAzIiB5Mj0iLTEyNDIuOTc5IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAtLjY5MjggLjgxMzIgLTE3ODguMjA5IC0xOTkuMDQ1KSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNTRlZWZmIiBzdG9wLW9wYWNpdHk9IjAiLz48c3RvcCBvZmZzZXQ9Ii4xMjYiIHN0b3AtY29sb3I9IiM0NWNmZWUiIHN0b3Atb3BhY2l0eT0iLjEyNiIvPjxzdG9wIG9mZnNldD0iLjI4MyIgc3RvcC1jb2xvcj0iIzM3YWVkYyIgc3RvcC1vcGFjaXR5PSIuMjgzIi8+PHN0b3Agb2Zmc2V0PSIuNDQ3IiBzdG9wLWNvbG9yPSIjMmI5NWNlIiBzdG9wLW9wYWNpdHk9Ii40NDciLz48c3RvcCBvZmZzZXQ9Ii42MTYiIHN0b3AtY29sb3I9IiMyMzgzYzQiIHN0b3Atb3BhY2l0eT0iLjYxNiIvPjxzdG9wIG9mZnNldD0iLjc5NSIgc3RvcC1jb2xvcj0iIzFlNzhiZSIgc3RvcC1vcGFjaXR5PSIuNzk1Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMWM3NWJjIi8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InVybCgjYSkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjU0LjQyIDEwMS43NEw0NS41NiAxMy42OSIvPjxsaW5lYXJHcmFkaWVudCBpZD0iYiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMzg2Ljc4OSIgeTE9Ii04NTguMTcxIiB4Mj0iMTMzNy44MTYiIHkyPSItMTIyMi42NzMiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC0uNjkyOCAuODEzMiAtMTc4OC4yMDkgLTE5OS4wNDUpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM1NGVlZmYiIHN0b3Atb3BhY2l0eT0iMCIvPjxzdG9wIG9mZnNldD0iLjEyNiIgc3RvcC1jb2xvcj0iIzQ1Y2ZlZSIgc3RvcC1vcGFjaXR5PSIuMTI2Ii8+PHN0b3Agb2Zmc2V0PSIuMjgzIiBzdG9wLWNvbG9yPSIjMzdhZWRjIiBzdG9wLW9wYWNpdHk9Ii4yODMiLz48c3RvcCBvZmZzZXQ9Ii40NDciIHN0b3AtY29sb3I9IiMyYjk1Y2UiIHN0b3Atb3BhY2l0eT0iLjQ0NyIvPjxzdG9wIG9mZnNldD0iLjYxNiIgc3RvcC1jb2xvcj0iIzIzODNjNCIgc3RvcC1vcGFjaXR5PSIuNjE2Ii8+PHN0b3Agb2Zmc2V0PSIuNzk1IiBzdG9wLWNvbG9yPSIjMWU3OGJlIiBzdG9wLW9wYWNpdHk9Ii43OTUiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxYzc1YmMiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNiKSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjUyLjk4IDE0OC42MkwyNDYuNyAzNDYuMDUiLz48bGluZWFyR3JhZGllbnQgaWQ9ImMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTM1Ni41NzUiIHkxPSItOTM2LjIwMSIgeDI9IjEzMjAuMTg0IiB5Mj0iLTEyMDcuMDYyIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAtLjY5MjggLjgxMzIgLTE3ODguMjA5IC0xOTkuMDQ1KSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNTRlZWZmIiBzdG9wLW9wYWNpdHk9IjAiLz48c3RvcCBvZmZzZXQ9Ii4xMjYiIHN0b3AtY29sb3I9IiM0NWNmZWUiIHN0b3Atb3BhY2l0eT0iLjEyNiIvPjxzdG9wIG9mZnNldD0iLjI4MyIgc3RvcC1jb2xvcj0iIzM3YWVkYyIgc3RvcC1vcGFjaXR5PSIuMjgzIi8+PHN0b3Agb2Zmc2V0PSIuNDQ3IiBzdG9wLWNvbG9yPSIjMmI5NWNlIiBzdG9wLW9wYWNpdHk9Ii40NDciLz48c3RvcCBvZmZzZXQ9Ii42MTYiIHN0b3AtY29sb3I9IiMyMzgzYzQiIHN0b3Atb3BhY2l0eT0iLjYxNiIvPjxzdG9wIG9mZnNldD0iLjc5NSIgc3RvcC1jb2xvcj0iIzFlNzhiZSIgc3RvcC1vcGFjaXR5PSIuNzk1Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMWM3NWJjIi8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InVybCgjYykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjUyLjk4IDE2Ni4zM2wtNDE2LjMzIDY1Ljg2Ii8+PGxpbmVhckdyYWRpZW50IGlkPSJkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE2NzkuNDk3IiB5MT0iLTg0MC45MjMiIHgyPSIxNDUwLjQ2MyIgeTI9Ii01NzMuNzIzIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAtLjY5MjggLjgxMzIgLTE3ODguMjA5IC0xOTkuMDQ1KSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNTRlZWZmIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii44NzQiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjcxNyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNTUzIi8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii4zODQiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjIwNSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InVybCgjZCkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjUyLjk4IDY3My40MWwtNDE2LjMzIDc0LjIyIi8+PGxpbmVhckdyYWRpZW50IGlkPSJlIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE3MjguMjkzIiB5MT0iLTcyNi43MTUiIHgyPSIxNDU0LjE3OSIgeTI9Ii00MDYuOTI0IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMTEzOCAuOTQ4OCAtLjY5MjggLjgxMzIgLTE3ODguMjA5IC0xOTkuMDQ1KSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNTRlZWZmIi8+PHN0b3Agb2Zmc2V0PSIuMTI2IiBzdG9wLWNvbG9yPSIjNDVjZmVlIiBzdG9wLW9wYWNpdHk9Ii44NzQiLz48c3RvcCBvZmZzZXQ9Ii4yODMiIHN0b3AtY29sb3I9IiMzN2FlZGMiIHN0b3Atb3BhY2l0eT0iLjcxNyIvPjxzdG9wIG9mZnNldD0iLjQ0NyIgc3RvcC1jb2xvcj0iIzJiOTVjZSIgc3RvcC1vcGFjaXR5PSIuNTUzIi8+PHN0b3Agb2Zmc2V0PSIuNjE2IiBzdG9wLWNvbG9yPSIjMjM4M2M0IiBzdG9wLW9wYWNpdHk9Ii4zODQiLz48c3RvcCBvZmZzZXQ9Ii43OTUiIHN0b3AtY29sb3I9IiMxZTc4YmUiIHN0b3Atb3BhY2l0eT0iLjIwNSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzFjNzViYyIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InVybCgjZSkiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTY1Mi45OCA4OTAuNjRsLTU1Mi41Mi04MS45Ii8+PGxpbmVhckdyYWRpZW50IGlkPSJmIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE2MzUuNDgxIiB5MT0iLTYxMC41NzciIHgyPSIxNTE4Ljk3IiB5Mj0iLTQ3NC42NTEiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMS4xMTM4IC45NDg4IC0uNjkyOCAuODEzMiAtMTc4OC4yMDkgLTE5OS4wNDUpIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM1NGVlZmYiLz48c3RvcCBvZmZzZXQ9Ii4xMjYiIHN0b3AtY29sb3I9IiM0NWNmZWUiIHN0b3Atb3BhY2l0eT0iLjg3NCIvPjxzdG9wIG9mZnNldD0iLjI4MyIgc3RvcC1jb2xvcj0iIzM3YWVkYyIgc3RvcC1vcGFjaXR5PSIuNzE3Ii8+PHN0b3Agb2Zmc2V0PSIuNDQ3IiBzdG9wLWNvbG9yPSIjMmI5NWNlIiBzdG9wLW9wYWNpdHk9Ii41NTMiLz48c3RvcCBvZmZzZXQ9Ii42MTYiIHN0b3AtY29sb3I9IiMyMzgzYzQiIHN0b3Atb3BhY2l0eT0iLjM4NCIvPjxzdG9wIG9mZnNldD0iLjc5NSIgc3RvcC1jb2xvcj0iIzFlNzhiZSIgc3RvcC1vcGFjaXR5PSIuMjA1Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMWM3NWJjIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0idXJsKCNmKSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNDcxLjAzIDkwMy40M2wtMjUzLjM2LTk0LjY5Ii8+PC9zdmc+),linear-gradient(180deg,#06c,#004080);
}

.ws-homepage-main-section {
  padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--2xl) var(--pf-global--spacer--2xl);
}

.ws-homepage-main-section.pf4-c-background-image .pf4-site-c-hero {
  margin-bottom: 0;
  margin: 24px auto 0;
}

.ws-mdx-a {
  font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInOne {
  animation-delay: .2s;
}

.fadeInTwo {
  animation-delay: .6s;
}

.fadeInThree {
  animation-delay: 1s;
}

.fadeInFour {
  animation-delay: 1.4s;
}
