.ws-colors-grid {
	--pf-v6-l-grid--m-gutter--GridGap: var(--pf-t--global--spacer--lg);
}

.ws-content-chart-colors {
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

.ws-content-chart-colors-gallery--information>* {
	font-size: 12px
}

.ws-content-chart-colors-gallery--information>*>code {
	font-size: 10px!important
}

.ws-chart-colors-gridtext {
	max-width: 680px;
}

.pf-v6-c-divider.ws-chart-colors-divider {
	margin-top: var(--pf-v6-c-content--h2--MarginTop);
}
