.ws-toc {
  align-self: flex-start;
  position: sticky;
  width: calc(100% + var(--pf-v6-c-page__main-section--PaddingInlineStart) + var(--pf-v6-c-page__main-section--PaddingInlineEnd));
  background-color: var(--pf-t--global--background--color--secondary--default);
  z-index: 201;
  margin-block-start: calc(var(--pf-v6-c-page__main-section--PaddingTop) * -1);
  margin-block-end: var(--pf-t--global--spacer--md);
  margin-inline-start: calc(var(--pf-v6-c-page__main-section--PaddingInlineStart) * -1);
  margin-inline-end: calc(var(--pf-v6-c-page__main-section--PaddingInlineEnd) * -2);
  padding-block-start: var(--pf-t--global--spacer--md);
  padding-block-end: var(--pf-t--global--spacer--md);
  padding-inline-start: var(--pf-t--global--spacer--md);
  padding-inline-end: 0;
  box-shadow: var(--pf-t--global--box-shadow--lg--bottom);
}

.ws-toc.pf-m-expanded {
  box-shadow: var(--pf-t--global--box-shadow--sm--bottom)
}

.ws-toc .pf-v6-c-jump-links__toggle {
  background-color: var(--pf-t--global--background--color--secondary--default);
}

/* Mobile jumplinks */
@media (max-width: 1450px) {
  .ws-toc.pf-m-expanded .pf-v6-c-jump-links__main {
    max-height: 65vh;
    overflow-y:auto;
  }

  .ws-toc .pf-v6-c-jump-links__header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.ws-toc .pf-v6-c-jump-links__main {
  scrollbar-width: none;
}

/* Hide TOC scrollbar Chrome, Safari & Opera */
.ws-toc .pf-v6-c-jump-links__main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1451px) {
  .ws-toc {
    width: 280px;
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    /* Hide TOC scrollbar IE, Edge & Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    order: 1;
    padding: 0 var(--pf-t--global--spacer--lg) var(--pf-t--global--spacer--lg) var(--pf-t--global--spacer--2xl);
    flex-grow: 1;
    background: none;
    margin: 0;
  }

  .ws-toc,
  .ws-toc.pf-m-expanded {
    box-shadow: none;
  }
}

.ws-toc-item .pf-m-link {
  text-wrap: wrap;
  text-align: left;
}
