.ws-toc {
  align-self: flex-start;
  position: sticky;
  width: calc(100% + var(--pf-v5-c-page__main-section--PaddingLeft) + var(--pf-v5-c-page__main-section--PaddingRight));
  background-color: var(--pf-v5-global--BackgroundColor--200);
  z-index: 501;
  margin-block-start: calc(var(--pf-v5-c-page__main-section--PaddingTop) * -1);
  margin-block-end: var(--pf-v5-global--spacer--md);
  margin-inline-start: calc(var(--pf-v5-c-page__main-section--PaddingLeft) * -1);
  margin-inline-end: calc(var(--pf-v5-c-page__main-section--PaddingRight) * -2);
  padding-block-start: var(--pf-v5-global--spacer--md);
  padding-block-end: var(--pf-v5-global--spacer--md);
  padding-inline-start: var(--pf-v5-global--spacer--md);
  padding-inline-end: 0;
  box-shadow: var(--pf-v5-global--BoxShadow--lg-bottom);
}

.ws-toc.pf-m-expanded {
  box-shadow: var(--pf-v5-global--BoxShadow--sm-bottom)
}

/* Mobile jumplinks */
@media (max-width: 1450px) {
  .ws-toc.pf-m-expanded .pf-v5-c-jump-links__main {
    max-height: 65vh;
    overflow: auto;
  }
  
  .ws-toc .pf-v5-c-jump-links__header {
    position: sticky;
    top: 0;
    background-color: var(--pf-v5-global--BackgroundColor--200);
    z-index: 2;
  }
}

.ws-toc .pf-v5-c-jump-links__main {
  scrollbar-width: none;
}

/* Hide TOC scrollbar Chrome, Safari & Opera */
.ws-toc .pf-v5-c-jump-links__main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1451px) {
  .ws-toc {
    width: 280px;
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    /* Hide TOC scrollbar IE, Edge & Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    order: 1;
    padding: 0 var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--2xl);
    flex-grow: 1;
    background: none;
    margin: 0;
  }

  .ws-toc,
  .ws-toc.pf-m-expanded {
    box-shadow: none;
  }
}

/* .ws-toc-link { */
.ws-toc-item .pf-v5-c-jump-links__link {
  position: relative;
  display: block;
  color: var(--ws-toc-link--Color, var(--pf-v5-global--Color--300));
  font-size: var(--pf-v5-global--FontSize--sm);
  margin: -4px 0;
}

.ws-toc-sublist > .ws-toc-item:first-child .pf-v5-c-jump-links__link {
  margin-top: 0;
}

.ws-toc-item.pf-m-current .pf-v5-c-jump-links__link::before {
  z-index: 1;
}
