.ws-org-context-switcher {
  padding: var(--pf-c-nav__link--PaddingTop) var(--pf-c-nav__link--PaddingRight) 8px var(--pf-c-nav__link--PaddingLeft);
}

.ws-org-context-switcher .ws-org-context-switcher-dropdown {
  display: block;
  padding-top: 4px;
}

.ws-org-context-switcher-dropdown .pf-c-dropdown__toggle {
  width: 100%;
}

.ws-org-context-switcher .pf-c-dropdown__toggle::before {
  border: 1px solid #979797;
}

.ws-org-context-switcher > label,
.ws-org-context-switcher .pf-c-dropdown__toggle-text,
.ws-org-context-switcher .pf-c-dropdown__menu-item {
  color: var(--pf-global--active-color--100);
  font-weight: var(--pf-global--FontWeight--bold);
}

.ws-org-context-switcher > label {
  font-size: 14px;
}

.ws-page-sidebar .pf-c-nav {
  --pf-c-nav__link--before--BorderBottomWidth: 0;
  --pf-c-nav--m-light__link--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-200);
  --pf-c-nav--m-light__link--focus--BackgroundColor: var(--pf-global--BackgroundColor--light-200);
  --pf-c-nav--m-light__link--m-current--BackgroundColor: var(--pf-global--BackgroundColor--light-200);
  --pf-c-nav--m-light__link--active--BackgroundColor: var(--pf-global--BackgroundColor--light-200);
}

.ws-side-nav-list .pf-c-nav__item.pf-m-expandable::before {
  border-bottom: 0;
}
