.ws-mdx-p {
  font-size: var(--pf-v5-global--FontSize--lg);
}

.pf-m-white,
.pf-m-white.ws-mdx-a {
  color: white;
}

#hello-were-patternfly+.ws-mdx-p {
  margin-bottom: var(--pf-v5-global--spacer--sm);
}

#patternfly-principles {
  font-size: var(--pf-v5-global--FontSize--4xl);
}

#flyer-fundamentals .ws-heading-anchor {
  color: var(--pf-v5-global--Color--100);
}

.ws-pf-principle .pf-v5-l-flex {
  align-items: flex-start;
  flex-wrap: nowrap;
}

.ws-pf-principle .pf-v5-l-flex>div:first-child {
  margin-right: var(--pf-v5-global--spacer--3xl);
  flex-shrink: 0;
  width: 93px;
  text-align: center;
}

@media (max-width: 767px) {
  .ws-pf-principle .pf-v5-l-flex {
    flex-wrap: wrap;
  }

  .ws-pf-principle .ws-principles-img {
    margin-bottom: var(--pf-v5-global--spacer--lg);
  }
}

.v5-featured-posts, .v5-stay-informed {
  --pf-v5-c-page__main-section--PaddingRight: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingLeft: var(--pf-v5-global--spacer--2xl);
}

.v5-featured-posts-cards, .v5-stay-informed-cards {
  --pf-v5-c-page__main-section--PaddingTop: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingRight: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingBottom: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingLeft: var(--pf-v5-global--spacer--2xl);
}

.v5-featured-posts > div.pf-v5-c-page__main-body,
.v5-stay-informed > div.pf-v5-c-page__main-body {
  padding-bottom: 0px;
}

.v5-featured-posts-card-header-img {
  background-position: center;
  background-size: cover;
  height: 300px;
}

.ws-homepage-main-section {
  --pf-v5-c-page__main-section--PaddingTop: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingRight: 0px;
  --pf-v5-c-page__main-section--PaddingBottom: var(--pf-v5-global--spacer--2xl);
  --pf-v5-c-page__main-section--PaddingLeft: var(--pf-v5-global--spacer--2xl);
}

@media (max-width: 992px) {
  .ws-homepage-main-section {
    --pf-v5-c-page__main-section--PaddingRight: var(--pf-v5-global--spacer--2xl);
  }
}

.ws-homepage-main-section.pf4-c-background-image .pf4-site-c-hero {
  margin-bottom: 0;
  margin: var(--pf-v5-global--spacer--xl) auto 0;
}

.ws-mdx-a {
  font-size: var(--pf-v5-global--FontSize--lg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInOne {
  animation-delay: .2s;
}

.fadeInTwo {
  animation-delay: .6s;
}

.fadeInThree {
  animation-delay: 1s;
}

.fadeInFour {
  animation-delay: 1.4s;
}

