#ws-gdpr-banner {
  max-width: 95vw;
  position: fixed;
  bottom: 10px;
  left: 2.4vw;
  z-index: 201;
  flex-wrap: nowrap;
  background: #FFF;
  border: 1px solid #151515;
  align-items: center;
}

@media (max-width: 767px) {
  #ws-gdpr-banner .pf-u-mr-xl {
    margin-right: 0 !important;
    top: 10px;
  }
}
