.ws-community-page {
  background-color: var(--pf-global--BackgroundColor--light-200);
}

.ws-community-page .ws-building-grid > * {
  padding: var(--pf-global--spacer--md);
  border: 1px solid var(--pf-global--palette--black-300);
  display: flex;
  flex-direction: column;
}

.ws-community-page .ws-building-grid .ws-mdx-p {
  margin-top: var(--pf-c-content--MarginTop);
  margin-bottom: var(--pf-c-content--MarginBottom);
}

.ws-community-page .ws-building-grid h4:last-child {
  margin-top: auto;
}

.ws-community-page .ws-keep-growing {
  margin-top: var(--pf-global--spacer--2xl);
}

.ws-community-page .ws-get-in-touch {
  margin-top: var(--pf-global--spacer--lg);
}

.ws-community-grid-img {
  max-width: 300px;
  margin: 0 auto;
}
